@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  background-color: rgb(246, 246, 246);
  margin: 0px;
}

.page {
  margin-top: 30px;
  line-height: 1.75em;

}

.page-container {
  padding: 30px;
  background-color: white;
}

.page-title {
  margin-bottom: 35px;
}

.section-title {
  margin-top: 30px;
}

.caption {
  padding: 15px 20px 0px;
  color: gray;
  font-style: italic;
  background: white;
  text-align: right;
}

.sidebar {
  background: white;
  margin-top: 30px;
  padding: 17px;
}

.sidebar-title {
  margin: 0px 16px;
  padding: 22px 0px;
  text-align: center;
  font-weight: 300;
  line-height: 1.4em;
  font-size: 21px;
}

.sidebar-subtitle {
  margin: 20px 16px 10px;
  font-size: 15;
}

.nav>li>a {
position: relative;
display: block;
padding: 3px 15px;
}

.navbar img {
  height: 90px;
  margin-top: 5px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse {
  background-color: rgb(51,51,51);
}

.navbar-header {
  margin: 0px auto;
  float: none;
  padding: none;
  height: 120px;
  padding-top: 10px;
}

.btn {
  margin-top: 25px;
}

.btn a {
  color: white;
  text-decoration: none;
}

.leaflet-control-attribution {
 display: none;
}

.cartodb-logo {
  display: none;
}

.footer {
  text-align: center;
  padding: 40px;
}

.visual {
  margin: 20px 0px;
}

.crisis-tracker-btn {
  background-color: rgb(192, 42, 19);
  border: none;
  padding: 15px;
  font-weight: bold;
  font-style: italic;
  float: right;
}
