@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

$white: #fff;
$blue: #4884C5;
$darker-blue: darken($blue, 10%);
$black: #555;
$dark-gray: rgb(71, 71, 71);


/* GENERAL
============================== */

html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  margin: 0px;
  color: rgb(63, 63, 63);
  background-color: #F8F8F8;
}

.row-alt {
  margin-left: 0px;
  margin-right: 0px;
}

/* HEADER
============================== */

body {
  color: $black;
}

a {
  text-decoration: none;
  color: $blue;
}



// NAVBAR
.navbar {
  background: $blue;
  height: 90px;
  color: white;
  border: 0px;
  border-radius: 0px;
  width: 100%;
  margin-bottom: 0;
  a {
    color: $white;
    text-decoration: none;
  }
}

.navbar-brand {
  padding: 0px;
}

// LOGO
.navbar>.container .navbar-brand {
  font-size: 20px;
  font-weight: 300;
  margin-top: 14px;
  color: $white;
}

// NAVBAR ITEMS
.navbar-nav>li>a {
  padding: 35px 15px;
  color: $white;
  font-size: 13px;
}

// NAVBAR HOVER STATE
ul.nav a:hover { 
  color: $white !important; 
  background-color: $darker-blue;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  color: $white !important; 
  background-color: $darker-blue;
}

.nav .caret {
  border-top-color: $white;
  border-bottom-color: $white;
}

.navbar .nav li.dropdown > a:hover .caret {
  border-top-color: $white;
  border-bottom-color: $white;
}

nav.navbar.navbar-fixed-top.subnav {
  top: 80;
}

nav.navbar.navbar-fixed {
  top: 0;
}


/* LOGO
============================== */

.logo {
  height: 75px;
  margin: 21px 0px 5px 10px;
  padding-left: 0px;
}

.logo-text {
  height: 35px;
  margin: 16px 0px 0px;
  padding-left: 13px;
}

@media screen and (max-width: 600px) {
  .logo-text {
    display: none;
  }
}

.annual-logo {
  height: 60px;
  margin: 14px 20px 0px 0px;
}

/* PAGE
============================== */

.container {
  width: 1100px;
}

.old-container {
  margin-top: 20px;
  background-color: white;
}

.nav-container {
  width: 1005px;
  padding: 0px;
  margin: 0px auto;
}

.page-container {
  padding: 120px 30px 30px;
  background-color: white;
  width: 850px;
  margin: 0px auto;
}

.section-title {

}

.section-rule {
  margin-bottom: 60px;
}

.page-title {
  font-weight: 300;
}

.page-subtitle {
  font-size: 18px;
  margin: 40px 0px 10px;
  font-weight: 300;
}

/* SIDEBAR
============================== */

.sidebar {  
  background: white;
  margin-top: 30px;
  padding: 17px;
  border-right: 2px rgb(243, 243, 243) solid;
}

.section-title {
  margin-top: 30px;
}

.sidebar-title {
  margin: 0px 16px;
  padding: 0px 0px;
  text-align: center;
  font-weight: 300;
  line-height: 1.4em;
  font-size: 21px;
}

.sidebar-subtitle {
  margin: 20px 16px 10px;
  font-size: 15;
}

/* PREVIEW
============================== */

.previews {
  margin: 40px 0px;
}

.preview-description {
  padding: 5px 0px;
  background: white;
}

/* CAPTIONS
============================== */

.caption {
  padding: 15px 0px;
  color: gray;
  font-style: italic;
  text-align: right;
}

/* VISUALIZATIONS
============================== */

.visual {
  margin: 35px 0px 10px -10px;
}

.visualization-title-container {
  border: 1px solid rgb(231, 231, 231);
  color: gray;
}

.visualization-title {
  margin-top: 15px;
  font-size: 18px;
  margin-left: 15px;
}

.visualization-subtitle {
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 15px;
}

/* FOOTER
============================== */

.footer {
  text-align: center;
  padding: 40px;
}

/* BUTTONS
============================== */

.btn {
  margin-top: 25px;
}

.btn-primary a {
  color: white;
  text-decoration: none;
}

.btn-group-lang {
  float: right;
  margin-top: 18px;
}

.btn-export {
  float: right;
  margin-top: 42px;
}

/* LANG MENU
============================== */

.lang-menu {
  left: 0;
  right: 0;
}

.lang-btn {
  float: right;
  margin-top: 40px;
}

/* TABLES
============================== */


.table {
margin: 40px 0px;
}

.page-anchor {
  display: block; 
  position: relative; 
  top: -90px; 
  visibility: hidden;
}

.active-nav-item {
  background: $darker-blue;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.edge-left {
  margin-left: 0px;
  padding-left: 0px
}