@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  background-color: rgb(246, 246, 246);
  margin: 0px;
  padding-top: 120px;
}

.page {
  margin-top: 30px;
}

.page-container {
  padding: 30px;
  background-color: white;
}

.sidebar {
  background: white;
  margin-top: 30px;
  padding: 17px;
}

.navbar img {
  height: 90px;
  margin-top: 5px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse {
  background-color: rgb(51,51,51);
}

.navbar-header {
  margin: 0px auto;
  float: none;
  padding: none;
  height: 120px;
  padding-top: 10px;
}

.btn {
  margin-top: 25px;
}

.btn a {
  color: white;
  text-decoration: none;
}

.leaflet-control-attribution {
 display: none;
}

.cartodb-logo {
  display: none;
}

.footer {
  text-align: center;
  padding: 40px;
}
