@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* GENERAL
============================== */
/* line 13, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

/* line 19, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
body {
  margin: 0px;
  color: #3f3f3f;
  background-color: #F8F8F8;
}

/* line 25, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.row-alt {
  margin-left: 0px;
  margin-right: 0px;
}

/* HEADER
============================== */
/* line 33, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
body {
  color: #555555;
}

/* line 37, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
a {
  text-decoration: none;
  color: #4884c5;
}

/* line 45, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.navbar {
  background: #4884c5;
  height: 90px;
  color: white;
  border: 0px;
  border-radius: 0px;
  width: 100%;
  margin-bottom: 0;
}
/* line 53, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.navbar a {
  color: white;
  text-decoration: none;
}

/* line 59, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.navbar-brand {
  padding: 0px;
}

/* line 64, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.navbar > .container .navbar-brand {
  font-size: 20px;
  font-weight: 300;
  margin-top: 14px;
  color: white;
}

/* line 72, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.navbar-nav > li > a {
  padding: 35px 15px;
  color: white;
  font-size: 13px;
}

/* line 79, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
ul.nav a:hover {
  color: white !important;
  background-color: #346ba6;
}

/* line 84, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  color: white !important;
  background-color: #346ba6;
}

/* line 89, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.nav .caret {
  border-top-color: white;
  border-bottom-color: white;
}

/* line 94, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.navbar .nav li.dropdown > a:hover .caret {
  border-top-color: white;
  border-bottom-color: white;
}

/* line 99, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
nav.navbar.navbar-fixed-top.subnav {
  top: 80;
}

/* line 103, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
nav.navbar.navbar-fixed {
  top: 0;
}

/* LOGO
============================== */
/* line 111, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.logo {
  height: 75px;
  margin: 21px 0px 5px 10px;
  padding-left: 0px;
}

/* line 117, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.logo-text {
  height: 35px;
  margin: 16px 0px 0px;
  padding-left: 13px;
}

@media screen and (max-width: 600px) {
  /* line 124, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
  .logo-text {
    display: none;
  }
}
/* line 129, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.annual-logo {
  height: 60px;
  margin: 14px 20px 0px 0px;
}

/* PAGE
============================== */
/* line 137, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.container {
  width: 1100px;
}

/* line 141, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.old-container {
  margin-top: 20px;
  background-color: white;
}

/* line 146, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.nav-container {
  width: 1005px;
  padding: 0px;
  margin: 0px auto;
}

/* line 152, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.page-container {
  padding: 120px 30px 30px;
  background-color: white;
  width: 950px;
  margin: 0px auto;
}

/* line 163, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.section-rule {
  margin-bottom: 60px;
}

/* line 167, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.page-title {
  font-weight: 300;
}

/* line 171, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.page-subtitle {
  font-size: 18px;
  margin: 40px 0px 10px;
  font-weight: 300;
}

/* SIDEBAR
============================== */
/* line 180, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.sidebar {
  background: white;
  margin-top: 30px;
  padding: 17px;
  border-right: 2px #f3f3f3 solid;
}

/* line 187, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.section-title {
  margin-top: 30px;
}

/* line 191, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.sidebar-title {
  margin: 0px 16px;
  padding: 0px 0px;
  text-align: center;
  font-weight: 300;
  line-height: 1.4em;
  font-size: 21px;
}

/* line 200, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.sidebar-subtitle {
  margin: 20px 16px 10px;
  font-size: 15;
}

/* PREVIEW
============================== */
/* line 208, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.previews {
  margin: 40px 0px;
}

/* line 212, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.preview-description {
  padding: 5px 0px;
  background: white;
}

/* CAPTIONS
============================== */
/* line 220, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.caption {
  padding: 15px 0px;
  color: gray;
  font-style: italic;
  text-align: right;
}

/* VISUALIZATIONS
============================== */
/* line 230, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.visual {
  margin: 35px 0px 10px -10px;
}

/* line 234, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.visualization-title-container {
  border: 1px solid #e7e7e7;
  color: gray;
}

/* line 239, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.visualization-title {
  margin-top: 15px;
  font-size: 18px;
  margin-left: 15px;
}

/* line 245, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.visualization-subtitle {
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 15px;
}

/* FOOTER
============================== */
/* line 254, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.footer {
  text-align: center;
  padding: 40px;
}

/* BUTTONS
============================== */
/* line 262, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.btn {
  margin-top: 25px;
}

/* line 266, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.btn-primary a {
  color: white;
  text-decoration: none;
}

/* line 271, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.btn-group-lang {
  float: right;
  margin-top: 18px;
}

/* line 276, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.btn-export {
  float: right;
  margin-top: 42px;
}

/* LANG MENU
============================== */
/* line 284, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.lang-menu {
  left: 0;
  right: 0;
}

/* line 289, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.lang-btn {
  float: right;
  margin-top: 40px;
}

/* TABLES
============================== */
/* line 298, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.table {
  margin: 40px 0px;
}

/* line 302, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.page-anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

/* line 309, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.active-nav-item {
  background: #346ba6;
}

/* line 313, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

/* line 317, /Users/kennethtransier/Dropbox/code/reports/css/main.scss */
.edge-left {
  margin-left: 0px;
  padding-left: 0px;
}
