@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* GENERAL
============================== */

html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  margin: 0px;
  color: rgb(63, 63, 63);
}

/* HEADER
============================== */

header {
  height: 120px;
  background: rgb(243, 243, 243);
}


/* LOGO
============================== */

.logo {
  height: 75px;
  margin: 21px 0px 5px 10px;
  padding-left: 0px;
}

.logo-text {
  height: 35px;
  margin: 16px 0px 0px;
  padding-left: 13px;
}

@media screen and (max-width: 600px) {
  .logo-text {
    display: none;
  }
}

/* PAGE
============================== */

.page {
  margin-top: 30px;
  line-height: 1.75em;
}

.page-container {
  padding: 0px 0px 30px 30px;
  background-color: white;
}

.page-title {
  margin-bottom: 35px;
}

.page-subtitle {
  font-size: 18px;
  margin: 20px 0px 10px;
  font-weight: 500;
}

/* SIDEBAR
============================== */

.sidebar {  
  background: white;
  margin-top: 30px;
  padding: 17px;
  border-right: 2px rgb(243, 243, 243) solid;
}

.section-title {
  margin-top: 30px;
}

.sidebar-title {
  margin: 0px 16px;
  padding: 0px 0px;
  text-align: center;
  font-weight: 300;
  line-height: 1.4em;
  font-size: 21px;
}

.sidebar-subtitle {
  margin: 20px 16px 10px;
  font-size: 15;
}

.nav>li {
  margin-left: 6px;
}

.nav>li>a {
position: relative;
display: block;
padding: 3px 15px;
}

/* PREVIEW
============================== */

.preview {
  margin-bottom: 20px;
}

.preview-image {
}

.preview-image img {
  width: 100%;
}

.preview-description {
  padding: 10px;
  background: white;
}

/* CAPTIONS
============================== */

.caption {
  padding: 15px 0px;
  color: gray;
  font-style: italic;
  text-align: right;
}

/* VISUALIZATIONS
============================== */

.visual {
  margin: 35px 0px 50px -10px;
}

.visualization-title-container {
  border: 1px solid rgb(231, 231, 231);
  color: gray;
}

.visualization-title {
  margin-top: 15px;
  font-size: 18px;
  margin-left: 15px;
}

.visualization-subtitle {
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 15px;
}

/* FOOTER
============================== */

.footer {
  text-align: center;
  padding: 40px;
}

/* BUTTONS
============================== */

.btn {
  margin-top: 25px;
}

.btn-primary a {
  color: white;
  text-decoration: none;
}

.btn-group-lang {
  float: right;
  margin-top: 18px;
}

.lang-menu {
  left: 0;
  right: 0;
}

.lang-btn {
  float: right;
  margin-top: 40px;
}

.icon-map-marker {
  font-size: 21px;
  margin-right: 10px;
}
