<ul class="nav bs-sidenav"> 
  <li class="sidebar-title">
    <span class="report-title">Dossier de S&eacute;curit&eacute;: </span>
    <span class="report-date">Janvier-Juin 2013</span>
  </li> 
  <li class="sidebar-subtitle">
     Section I: Introduction
  </li>
  <li>
    <a href="/fr/midyear-2013/executive-summary/">Synth&egrave;se: 4 Tendances Principales dans l&rsquo;Activit&eacute; de la LRA</a>
  </li>
  <li>
    <a href="/fr/midyear-2013/notable-political-context/">Contexte Politique Notable</a>
  </li>
  <li class="sidebar-subtitle">
  Section II: L&apos;exploitation par la LRA du Vide S&eacute;curitaire en RCA
  </li>
  <li>
    <a href="/fr/midyear-2013/armed-forces-in-car/">Forces Arm&eacute;es op&eacute;rant dans l&rsquo;est de la RCA</a>
  </li>
  <li>
    <a href="/fr/midyear-2013/patterns-in-mass-lra-attacks/">Evolutions des Attaques en Masse de la LRA dans l&rsquo;Est de la RCA</a>
  </li>
  <li class="sidebar-subtitle">
    Section III: La lutte de la LRA pour survivre au Congo
  </li>
  <li>
    <a href="/fr/midyear-2013/comm-with-populations/">Des Membres de la LRA Communiquent avec des Populations Locales au Congo</a>
  </li>
  <li>
    <a href="/fr/midyear-2013/decline/">Baisse des attaques en masse de la LRA au Congo</a>
  </li>
  <li>
    <a href="/fr/midyear-2013/attacks-by-lra-vs-unidentified-armed-groups/">Attaques Men&eacute;es par la LRA  vs. Groupes Arm&eacute;s non Identifi&eacute;s</a>
  </li>
  <li class="sidebar-subtitle">
    Section IV: &Agrave; propos
  </li>
  <li>
    <a href="/fr/midyear-2013/methodology/">LRA Crisis Tracker M&eacute;thodologie</a>
  </li>
  <li>
    <a href="/fr/midyear-2013/about/">&Agrave; propos de la LRA Crisis Tracker</a>
  </li>
  <li>
    <a href="/fr/midyear-2013/contributors/">Contributeurs</a>
  </li>
</ul>
<div class="buttons">
  <button class="btn btn-primary">
    <a href="/pdf/2013-MY-FR-LRA-Crisis-Tracker-Dossier-De-Securite-Semestriel.pdf">Download Print Version</a>
  </button>
</div>