<ul class="nav bs-sidenav"> 
  <li class="sidebar-title">
    <span class="report-title">Annual Security Brief</span>
    <span class="report-date">January&ndash;December 2013</span>
  </li> 
  <li class="sidebar-subtitle">
     Section I: Introduction
  </li>
  <li>
    <a href="/en/annual-2013/executive-summary/">Executive Summary</a>
  </li>
  <li>
    <a href="/en/annual-2013/notable-political-context/">Notable Political Context</a>
  </li>
  <li>
    <a href="/en/annual-2013/map-lra-attacks/">Map of LRA Attacks, 2010-2013</a>
  </li>
  <li class="sidebar-subtitle">
    Section II: LRA Command Structure and Survival Strategies
  </li>
  <li>
    <a href="/en/annual-2013/lra-command-structure/">LRA command structure and group location</a>
  </li>
  <li>
    <a href="/en/annual-2013/lra-camps/">LRA camps and resupply networks</a>
  </li>
  <li>
    <a href="/en/annual-2013/looting-analysis/">Looting analysis</a>
  </li>
  <li class="sidebar-subtitle">
    Section III: LRA Force Capacity
  </li>
  <li>
    <a href="/en/annual-2013/reduction-in-fighting-capacity/">Reduction in LRA fighting capacity </a>
  </li>
  <li>
    <a href="/en/annual-2013/returnees/">Return of long-term women, children, and non-Ugandan men</a>
  </li>
  <li>
    <a href="/en/annual-2013/come-home-messaging/">Exposure to Come Home messages</a>
  </li>
  <li>
    <a href="/en/annual-2013/porters-or-new-recruits/">LRA abductees: Porters or new recruits?</a>
  </li>
  <li class="sidebar-subtitle">
    Section IV: Congo: The LRA's breadbasket
  </li>
  <li>
    <a href="/en/annual-2013/looting-congo/">LRA looting</a>
  </li>
  <li>
    <a href="/en/annual-2013/dangerous-livelihoods/">Dangerous livelihoods: Hunting, fishing, and farming in the LRA's shadow</a>
  </li>
  <li>
    <a href="/en/annual-2013/lra-vs-uag/">LRA vs UAG attacks, 2013</a>
  </li>
  <li class="sidebar-subtitle">
    Section V: CAR: Extreme violence in the security vacuum
  </li>
  <li>
    <a href="/en/annual-2013/mass-lra-attacks/">Mass LRA attacks in eastern CAR</a>
  </li>
  <li>
    <a href="/en/annual-2013/lra-car-hotspots/">LRA hotspots in AU-controlled territory</a>
  </li>
  <li class="sidebar-subtitle">
    Section VI: About
  </li>
  <li>
    <a href="/en/annual-2013/lra-background/">LRA Background</a>
  </li>
  <li>
    <a href="/en/annual-2013/methodology/">LRA Crisis Tracker Methodology</a>
  </li>
  <li>
    <a href="/en/annual-2013/about/">About the LRA Crisis Tracker</a>
  </li>
  <li>
    <a href="/en/annual-2013/contributors/">Contributors</a>
  </li>
</ul>
<div class="buttons">
  <button class="btn btn-primary">
    <a href="/en/midyear-2013/print-version.pdf">Download Print Version</a>
  </button>
</div>