<ul class="nav bs-sidenav"> 
  <li class="sidebar-title">
    <span class="report-title">Q3 Security Brief</span>
    <span class="report-date">July&ndash;September 2013</span>
  </li> 
  <li>
    <a href="/en/q3-2013/executive-summary/">Executive Summary: 3 Key Trends in LRA Activity</a>
  </li>
  <li>
    <a href="/en/q3-2013/map-of-lra-attacks/">Map of LRA Attacks, July-September 2013</a>
  </li>
  <li>
    <a href="/en/q3-2013/lra-vs-uag/">Attacks by LRA vs Unidentified Armed Groups</a>
  </li>
  <li>
    <a href="/en/q3-2013/au-rtf-counter-lra-operations/">Surge in AU RTF Counter-LRA Operations </a>
  </li>
  <li>
    <a href="/en/q3-2013/notable-lra-incidents/">Notable LRA Incidents</a>
  </li>
  <li>
    <a href="/en/q3-2013/nzako-defection-opportunity/">Nzako Mass Defection Reports</a>
  </li>
  <li>
    <a href="/en/q3-2013/methodology/">LRA Crisis Tracker Methodology</a>
  </li>
  <li>
    <a href="/en/q3-2013/about/">About the LRA Crisis Tracker</a>
  </li>
  <li>
    <a href="/en/q3-2013/contributors/">Contributors</a>
  </li>
</ul>
<div class="buttons">
  <button class="btn btn-primary">
    <a href="/pdf/2013-Q3-LRA-Crisis-Tracker-Quarterly-Security-Brief.pdf">Download Print Version</a>
  </button>
</div>