<h3 class="page-title"> About </h3>

<div class="page-subtitle">III. About the LRA Crisis Tracker</div>
<p> Data reflected in this brief was collected as part of the Invisible Children + The Resolve LRA Crisis Initiative LRA Crisis Tracker, a geospatial database and reporting project which aims to track incidents of violent conflict in areas of Central Africa affected by the Lord's Resistance Army. Through publication of regular reports and open-source sharing of collected data, the LRA Crisis Tracker aims to help overcome the current deficit of relevant and timely information related to the LRA crisis and to support improved policy and humanitarian responses. </p>
<p> In the interest of continually strengthening the LRA Crisis Tracker dataset, The Resolve and Invisible Children welcome new sources of current or historical reports of LRA activity. To contribute information to the LRA Crisis Tracker project, please contact The Resolve at paul@theresolve.org.</p>

<div class="page-subtitle">Further resources</div>
<p>For a real-time, geospatial look at LRA activity, or to download the data found within this brief please visit the LRA Crisis Tracker Map at: LRACrisisTracker.com.</p>

<div class="page-subtitle">The Resolve LRA Crisis Initiative</div>
<p><a href="http://theresolve.org" target="_blank">The Resolve LRA Crisis Initiative</a> is a Washington D.C.-based advocacy organization seeking to move US and international political leaders to take the actions needed to see a permanent end to the violence of the Lord's Resistance Army in central Africa and justice to LRA-affected communities.</p>

<div class="page-subtitle">Invisible Children</div>

<p><a href="http://invisiblechildren.com" target="_blank">Invisible Children</a> is an international NGO working to assist communities in LRA-affected areas of Central Africa by expanding community-based early warning systems, reaching out to potential LRA defectors and affected communities through FM radio, and rehabilitating formerly-abducted children.<p>


