<h3 class="page-title">V. Contributors</h3>

<div class="page-subtitle">The Resolve LRA Crisis Initiative</div>
<p><a href="https://twitter.com/pauldronan" target="_blank">Paul Ronan</a>, Co-founder and Project Director <i>[Author]</i></p> 
<p><a href="https://twitter.com/ktransier" target="_blank">Kenneth Transier</a>, Project Manager <i>[Design and development]</i></p> 
<p><a href="https://twitter.com/mvpoff" target="_blank">Michael Poffenberger</a>, Co-founder and former Executive Director</p>
<p>Margaux Fitoussi, Project Developer <i>[Data analysis]</i></p>

<div class="page-subtitle">Invisible Children</div>
<p><a href="https://twitter.com/seancpoole" target="_blank">Sean Poole</a>, Counter-LRA Programs Manager</p>    
<p>Guillaume Cailleaux, Country Coordinator, CAR</p>        
<p>Saskia Rotshuizen, Central Africa Programs Coordinator <i>[Data analysis and English-French translation]</i></p>
<p>Maree Oddoux, <i>[English-French translation]</i></p>
<p>Jean de Dieu Kandape, Project Manager, DRC</p>
<p>Sebastien Porter, Project Officer, CAR</p>
<p>Ferdinand Zangapayda, Early Warning Network Assistant Project Manager, CDJP</p>
<p><a href="https://twitter.com/kimmyvandivort" target="_blank">Kimmy Vandivort</a>, International Operations Manager</p> 
<p><a href="https://twitter.com/lisadougan" target="_blank">Lisa Dougan</a>, Central Africa Programs Manager & Policy Advisor</p>

