---
layout: annual-2013-print
published: true
categories: annual-2013
lang: en
---

<h3 class="page-title" style="font-weight: 400;">Background</h3>
<!-- SUMMARY -->
<span id="summary" class="label label-primary label-tldr"></span> 
<span id="political_context_tldr"></span>

<!-- NOTABLE POLITICAL CONTEXT -->
<h3 id="political_context_title" class="page-title-top"></h3>

<div id="political_context_subtitle_1" class="page-subtitle"></div>
<p id="political_context_text_1"><p>

<div id="political_context_subtitle_2" class="page-subtitle"></div>
<p id="political_context_text_2"></p>

<div id="political_context_subtitle_3" class="page-subtitle"></div>
<p id="political_context_text_3"></p>

<div id="political_context_subtitle_4" class="page-subtitle"></div>
<p id="political_context_text_4"></p>

<div id="political_context_subtitle_5" class="page-subtitle"></div>
<p id="political_context_text_5"></p> 

<!-- LRA BACKGROUND -->
<a name="lra-background" class="page-anchor"></a>
<h3 id="lra_background_title" class="page-title"></h3>

<div id="lra_background_subtitle_1" class="page-subtitle"></div>
<div id="lra_background_text_1"></div>

<div id="lra_background_subtitle_2" class="page-subtitle"></div>
<div id="lra_background_text_2"></div>
 
<div id="lra_background_subtitle_3" class="page-subtitle"></div>
<div id="lra_background_text_3"></div>

<!-- ABOUT -->
<a name="about-ct" class="page-anchor"></a>
{% include en-about/about.html %}

<!-- METHODOLOGY -->
<a name="methodology" class="page-anchor"></a>
{% include en-about/methodology.html %}

<!-- CONTRIBUTORS -->
<a name="contributors" class="page-anchor"></a>
<div style="margin-top: 100px">
  {% include en-about/contributors.html %}
</div>
