#map {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.leaflet-container {
  cursor: pointer;
}

.leaflet-bar {
  background-color: rgba(100, 100,100, .11)
}

.leaflet-control-fullscreen {
  background-image: url(/images/expand.png);
  background-size: 15px;
  background-position:center; 
}

.expand {
  background-image: url(/images/expand.png);
}

.compress {
  background-image: url(/images/compress.png); 
}

.leaflet-bar a, .leaflet-bar a:hover {
  background-color: rgba(100, 100,100, .11)
}

.leaflet-bar, .leaflet-touch .leaflet-bar {
  border: 0px solid rgba(255, 255, 255, 1);
}
.leaflet-left .leaflet-control {
  margin-top: 15px;
  margin-left: 15px;
}

.leaflet-popup-content {
  padding: 5px 20px;
}

.leaflet-popup-content, .leaflet-popup-content p {
  margin: 8px 0px;
  font-size: 12px;
  line-height: 1.2em;
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  }

.marker-cluster-small {
  background-color: rgba(72, 128, 192, 0.6);
  }
.marker-cluster-small div {
  background-color: rgba(85, 150, 225, 0.6);
  }

.marker-cluster-medium {
  background-color: rgba(43, 43, 43, 0.7);
  }
.marker-cluster-medium div {
  background-color: rgba(63, 63, 63, 0.7);
  }

.marker-cluster-large {
  background-color: rgba(80,80,80, 0.6);
  }
.marker-cluster-large div {
  background-color: rgba(68, 68, 68, 0.6);
  }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  }
.marker-cluster div {
  color: white;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}

.map-legends .map-legend {
padding: 7px 10px 10px;
}

.legend-content {
}

.legend-title {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 13px;
}

.legend-item {
  margin-bottom: -4px;
}

.legend-item-marker {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: gray;
  float: left;
  margin-top: 6px;
}  

.legend-item-text {
  margin-left: 7px;
  font-weight: 500;
  font-size: 11px;
}

.legend-source {
  font-size: 10px;
  color: #999;
  clear: both;
  margin-top: 5px;
}

.legend a {
  color: #777;
}

.mapbox-info-toggle {
  display: none;
}

.fullscreen-map {
  z-index: 1040;
}

.map-date {
  float: right;
  margin-top: 5px;
}

.map-animate-control {
  float: right;
  margin: 0px 0px 10px 10px;
}


/*Add to main css*/

.right-container {
  padding: 30px;
  background-color: white;
  width: 850px;
  margin: 70px 0px 0px 220px;
}

.fixed-sidebar {
  margin-top: 70px;
  text-align: right;
  position: fixed;
  width: 190px;
}

.fixed-sidebar-item {
  margin-bottom: 10px;
  padding-right: 5px;
  border-right: 3px solid transparent;
  
}

.fixed-sidebar-item a {
  text-decoration: none;
}

.fixed-sidebar-item-active {
  border-right: 3px solid rgb(25, 68, 112);
}

.edge-top {
  margin: 10px 0px 15px;
}

.graph-label {
  text-align: center;
  margin-top: -12px;
  color: #555555;
}


.fixed-navbar-brand {
  font-size: 18px;
  line-height: 20px;
}

.fixed-logo {
  height: 89px;
  margin: 5px 0px 19px 0px;
}
