<div class="page-container">
  <h3 class="page-title"> Contributors </h3>

  <h4 class="section-title">The Resolve LRA Crisis Initiative</h4>
  <p><a href="https://twitter.com/pauldronan">Paul Ronan</a>, Director of Policy</p>
  <p><a href="https://twitter.com/mvpoff">Michael Poffenberger</a>, Executive Director</p>
  <p><a href="https://twitter.com/ktransier">Kenneth Transier</a>, Project Manager</p>
  <p>Margaux Fitoussi, Project Developer</p>

  <h4 class="section-title">Invisible Children</h4>
  <p><a href="https://twitter.com/adamfinck">Adam Finck</a>, International Programs Director</p> 
  <p><a href="https://twitter.com/seancpoole">Sean Poole</a>, Counter-LRA Programs Manager</p>    
  <p>Guillaume Cailleaux, Project Coordinator, CAR</p>        
  <p><a href="https://twitter.com/kimmyvandivort">Kimmy Vandivort</a>, International Operations Manager</p>  
  <p><a href="https://twitter.com/Johrune">John Beaton</a>, Crisis Tracker Project Developer</p>      
  <p>Saskia Rotshuizen, Central Africa Programs Coordinator</p>
  <p>Jean de Dieu Kandape, Project Manager, DRC</p>
  <p>Sebastien Porter, Project Officer, CAR</p>
  <p>Jean de Dieu Kandape, Project Manager, DRC</p>
  <p>Ferdinand Zangapayda, Early Warning Network Assistant Project Manager, CDJP</p>

</div>