<ul class="nav bs-sidenav"> 
  <li class="sidebar-title">
    <span class="report-title">Q3 Security Brief</span>
    <span class="report-date">July&ndash;September 2013</span>
  </li> 
  <li class="sidebar-subtitle">
     Section I: Introduction
  </li>
  <li>
    <a href="/fr/q3-2013/executive-summary/">Executive Summary: 4 Key Trends in LRA Activity</a>
  </li>
  <li class="sidebar-subtitle">
    Section IV: About
  </li>
  <li>
    <a href="/fr/q3-2013/methodology/">LRA Crisis Tracker Methodology</a>
  </li>
  <li>
    <a href="/fr/q3-2013/about/">About the LRA Crisis Tracker</a>
  </li>
  <li>
    <a href="/fr/q3-2013/contributors/">Contributors</a>
  </li>
</ul>
<div class="buttons">
  <button class="btn btn-primary">
    <a href="/fr/q3-2013/print-version.pdf">Download Print Version</a>
  </button>
</div>