---
layout: en-annual-2013
published: true
categories: annual-2013
lang: en
---



<!-- LRA BACKGROUND -->
<a name="lra-background" class="page-anchor"></a>
<h3 class="page-title">LRA Background</h3>
<div class="page-subtitle"></div>
<p></p>

<!-- ABOUT -->
{% include en-about/about.html %}

<!-- NOTABLE POLITICAL CONTEXT -->
<a name="notable-political-context" class="page-anchor"></a>

<h3 class="page-title">Notable Political Context</h3>

<div class="page-subtitle"></div>
<div class="page-subtitle">Crisis in CAR escalates</div>
<p>After forcefully taking power in CAR in a March 2013 coup with the help of now-disbanded Seleka rebel forces, Central African transitional leader Michael Djotodia lost control of the country in late 2013. November and December 2013 witnessed a surge of often sectarian violence in CAR, primarily perpetrated by ex-Seleka fighters and opposing anti-balaka militias, that has killed over XXX people. France deployed 1,600 troops to help stabilize the country in early December, while African peacekeepers were formally transferred to the African-led International Support Mission for CAR (MISCA) on December 19. However, by the end of 2013 it was unclear how MISCA forces planned to protect civilians in CAR from LRA attacks or cooperate with the AU counter-LRA force (AU RTF).<p> 

<div class="page-subtitle">M23 rebellion collapses in eastern Congo</div>
<p>Under pressure from a combined offensive by the Congolese military (FARDC) and UN peacekeepers (MONUSCO) and lacking support from its former backers in Rwanda, the M23 rebellion in eastern Congo collapsed in XXX. The M23 rebellion in eastern Congo collapsed in XXX under pressure from a combined offensive by the Congolese military (FARDC) and UN peacekeepers (MONUSCO). Critical to the collapse was intensified international pressure on Rwanda to halt its support for the M23. However, deep-rooted communal tensions, political marginalization, and violence by other armed groups in the region continues to threaten the prospects for long-term stability.</p>  

<div class="page-subtitle">Diplomacy paves the way for resumption of AU RTF counter-LRA operations</div>
<p>Following the March 2013 coup in Bangui, Ugandan troops operating in southeast CAR under the AU RTF's authoirty officially suspended counter-LRA operations following the March 2013 coup. FARDC and South Sudanese military (SPLA) contingents to the AU RTF were also inactive in the first half of 2013, meaning the Ugandan suspension brought counter-LRA operations to a standstill. However, diplomatic efforts by the AU and UN encouraged Djotodia to permit Ugandan troops to resume operations against the LRA, which they officially did in XX 2013. In addition, AU and US diplomats helped secure permission from the Congolese government to allow the SPLA and FARDC contigents to launch counter-LRA operations in northeastern Congo in September 2013.</p>

<div class="page-subtitle">US government increases support to counter-LRA operations</div>
<p>In October 2013, President Barack Obama extended the deployment of US military advisers assisting AU RTF forces for a full year, a contrast to previous six-month renewals. The US military also expanded its material support to AU RTF forces, deploying additional airlift and intelligence-gathering assets to the region. In additioned, the US expanded "Come Home" messaging campaigns designed to promote LRA defections by funding the construction of several FM radios in CAR, the deployment helicopter speaker missions, increasing leaflet drops, and operationalizing additaional Safe Reporting Sites in CAR and South Sudan.</p>


<!-- METHODOLOGY -->
<a name="methodology" class="page-anchor"></a>
{% include en-about/methodology.html %}


<!-- CONTRIBUTORS -->
<a name="contributors" class="page-anchor"></a>
{% include en-about/contributors.html %}