---
layout: en-annual-2013
published: true
categories: annual-2013
lang: en
---

<h1 class="section-title"> About </h1>
<hr class="section-rule">


<!-- ABOUT -->
{% include en-about/about.html %}


<!-- METHODOLOGY -->
<a name="methodology" class="page-anchor"></a>
{% include en-about/methodology.html %}


<!-- CONTRIBUTORS -->
<a name="contributors" class="page-anchor"></a>
{% include en-about/contributors.html %}


<!-- LRA BACKGROUND -->
<a name="lra-background" class="page-anchor"></a>
<h3 class="page-title">LRA Background</h3>
<div class="page-subtitle"></div>
<p></p>