---
layout: en-annual-2013
published: true
categories: annual-2013
lang: en
---

<!-- NOTABLE POLITICAL CONTEXT -->
<a name="notable-political-context" class="page-anchor"></a>

<h3 class="page-title">Notable Political Context</h3>

<div class="page-subtitle"></div>
<div class="page-subtitle">Crisis in CAR escalates</div>
<p>After forcefully taking power in CAR in a March 2013 coup with the help of now-disbanded Seleka rebel forces, Central African transitional leader Michael Djotodia lost control of the country in late 2013. November and December 2013 witnessed a surge of often sectarian violence in CAR, primarily perpetrated by ex-Seleka fighters and opposing anti-balaka militias, that has killed over XXX people. France deployed 1,600 troops to help stabilize the country in early December, while African peacekeepers were formally transferred to the African-led International Support Mission for CAR (MISCA) on December 19. However, by the end of 2013 it was unclear how MISCA forces planned to protect civilians in CAR from LRA attacks or cooperate with the AU counter-LRA force (AU RTF). Djotodia resigned on January 10 under pressure from regional and international leaders, and Bangui mayor Catherine Samba-Panza was soon after installed as interim president.<p> 

<div class="page-subtitle">M23 rebellion collapses in eastern Congo</div>
<p>Under pressure from a combined offensive by the Congolese military (FARDC) and UN peacekeepers (MONUSCO) and lacking support from its former backers in Rwanda, the M23 rebellion in eastern Congo collapsed in XXX. The M23 rebellion in eastern Congo collapsed in XXX under pressure from a combined offensive by the Congolese military (FARDC) and UN peacekeepers (MONUSCO). Critical to the collapse was intensified international pressure on Rwanda to halt its support for the M23. However, deep-rooted communal tensions, political marginalization, and violence by other armed groups in the region continues to threaten the prospects for long-term stability.</p>  

<div class="page-subtitle">Diplomacy paves the way for resumption of AU RTF counter-LRA operations</div>
<p>Following the March 2013 coup in Bangui, Ugandan troops operating in southeast CAR under the AU RTF's authoirty officially suspended counter-LRA operations following the March 2013 coup. FARDC and South Sudanese military (SPLA) contingents to the AU RTF were also inactive in the first half of 2013, meaning the Ugandan suspension brought counter-LRA operations to a standstill. However, diplomatic efforts by the AU and UN encouraged Djotodia to permit Ugandan troops to resume operations against the LRA, which they officially did in XX 2013. In addition, AU and US diplomats helped secure permission from the Congolese government to allow the SPLA and FARDC contigents to launch counter-LRA operations in northeastern Congo in September 2013.</p>

<div class="page-subtitle">US government increases support to counter-LRA operations</div>
<p>In October 2013, President Barack Obama extended the deployment of US military advisers assisting AU RTF forces for a full year, a contrast to previous six-month renewals. The US military also expanded its material support to AU RTF forces, deploying additional airlift and intelligence-gathering assets to the region. In additioned, the US expanded "Come Home" messaging campaigns designed to promote LRA defections by funding the construction of several FM radios in CAR, the deployment helicopter speaker missions, increasing leaflet drops, and operationalizing additaional Safe Reporting Sites in CAR and South Sudan.</p>

<!-- LRA BACKGROUND -->
<a name="lra-background" class="page-anchor"></a>
<h3 class="page-title">LRA Background</h3>
<div class="page-subtitle"></div>
<div class="page-subtitle">From local conflict to regional crisis</div>
<p>The LRA’s origins are rooted in Uganda’s post-independence history of deep divisions between the North and South of the country. The most recent chapter of this conflict has centered on Ugandan President Yoweri Museveni, a native of western Uganda who violently seized power in 1986 after decades of misrule by dictators from the North. Since then more than twenty groups, including the LRA, have taken up arms against the government, many in response to its marginalization of Northern communities.</p>

<p>However, the LRA failed to capture widespread support among northern Ugandans, many of whom did not see the LRA as representing their legitimate grievances. In the early 1990s, faced with dwindling support, the LRA began relying more heavily on abductions of civilians, shifted to bases in South Sudan, and receiving support from the Khartoum government.</p>

<p>By 2005 the Ugandan military had significantly improved security in northern Uganda, while a  gradual end to the civil war in South Sudan also threatened the LRA’s supply lines and most secure bases. In 2005 the International Criminal Court’s (ICC) also issued arrest warrants for five LRA commanders, including Kony, on charges of war crimes and crimes against humanity.</p>

<p>In 2005 the LRA adapted slowly leaving South Sudan and establishing a sanctuary in Congo’s remote Garamba National Park. The next year the LRA began peace negotiations with the Ugandan government mediated by South Sudanese officials. A formal ceasefire was signed in August 2006, enabling hundreds of LRA combatants remaining in South Sudan to shift towards the group’s newly established bases in Congo.</p> 

<div class="page-subtitle">The Juba peace talks and Operation Lightning Thunder</div>
<p>However, the peace talks faltered, in part due to Kony’s refusal to directly participate and to the Ugandan’s governments erratic commitment. The two sides reached a Final Peace Agreement in April 2008, but Kony refused to sign. Instead, he ordered abduction raids aimed at rebuilding the LRA’s fighting capacity. LRA rebels kidnapped dozens of people in southeastern CAR in March 2008 and abducted hundreds of Congolese children from school classrooms in September.</p>

<p>In December 2008, the Ugandan military, with significant diplomatic and financial support from the U.S. government, launched an assault on LRA bases in Congo’s Garamba National Park. Dubbed “Operation Lightning Thunder,” the Ugandan offensive failed to apprehend top LRA leaders or protect civilians from predictable reprisal attacks, including the massacre of hundreds of Congolese civilians celebrating Christmas.</p> 
 
<div class="page-subtitle">Civilian suffering in Congo, CAR, and South Sudan</div>
<p>Since the failure of Operation Lightning Thunder, Ugandan forces have continued to pursue the LRA across an ever-expanding region that includes parts of Congo, South Sudan, and CAR. The sheer scale of LRA violence is staggering: since September 2008, the LRA has abducted more than 5,000 people and killed nearly 3,000 more. These attacks have torn at the very fabric of community life by targeting schools, churches, and marketplaces.</p>

<!-- ABOUT -->
{% include en-about/about.html %}


<!-- METHODOLOGY -->
<a name="methodology" class="page-anchor"></a>
{% include en-about/methodology.html %}


<!-- CONTRIBUTORS -->
<a name="contributors" class="page-anchor"></a>
{% include en-about/contributors.html %}
