---
layout: en-annual-2013-print
published: true
categories: annual-2013
lang: en
---

<div class="row download-language-top">
  <button class="btn btn-primary btn-download" style="margin-top: 0px;
margin-bottom: 5px; margin-left: 15px;">
    <a class="download" href="/pdf/2013-MY-LRA-Crisis-Tracker-Mid-Year-Security-Brief.pdf"></a>
  </button>

  <div class="btn-group" style="margin-left: 12px;">
    <button type="button" class="btn btn-default dropdown-toggle selected_language" data-toggle="dropdown" style="margin-top: -5px;">
    </button>
    <ul class="dropdown-menu lang-menu" role="menu">
      <li class="english"><a href="" class="english_option" ></a></li>
      <li  class="french"><a href="" class="french_option"></a></li>
    </ul>
  </div>
</div>

<h3 id="executive_summary_title" class="page-title-top" style="margin-top: 20px"></h3>
<div id="executive_summary_tldr"></div>

<div class="row row-alt">
  <div id="executive_summary_subtitle_1" class="page-subtitle"></div>
  <hr>
  <div class="col-md-6">
    <div id="A13_ES_1" class="visual" style="height: 270px; margin-top: 0px;"></div> 
  </div>
  <div id="executive_summary_text_1" class="col-md-6">
  </div>
</div>

<div class="row row-alt">
  <div id="executive_summary_subtitle_2" class="page-subtitle"></div>
  <hr>
  <div id="executive_summary_text_2" class="col-md-4">
  </div>
  <div class="col-md-8">
    <div id="A13_ES_2" class="visual" style="height: 250px; margin-top: 0px;"></div> 
  </div>
</div>

<div class="row row-alt">
  <div id="executive_summary_subtitle_3" class="page-subtitle"></div>
  <hr>
  <div id="executive_summary_text_3">
  </div>
</div>

<div class="row row-alt">
  <div id="executive_summary_subtitle_4" class="page-subtitle"></div>
  <hr>
  <div class="col-md-8">
    <div class="col-md-4">
      <div id="A13_ES_4a" class="visual" style="height: 250px; margin-top: 0px;"></div> 
    </div>
    <div class="col-md-4">
      <div id="A13_ES_4b" class="visual" style="height: 250px; margin-top: 0px;"></div> 
    </div>
    <div class="col-md-4">
      <div id="A13_ES_4c" class="visual" style="height: 264px; margin-top: 0px;"></div> 
    </div>
  </div>
  <div id="executive_summary_text_4" class="col-md-4">
  </div>
</div>
  
<div class="row row-alt">
  <div id="executive_summary_subtitle_5" class="page-subtitle"></div>
  <hr>
  <div id="executive_summary_text_5" class="col-md-6">
  </div>
  <div class="col-md-6">
    <div id="A13_ES_5" class="visual" style="height: 200px; margin-top: 0px;"></div> 
  </div>
</div>

<!-- NEXT PAGE -->
<div class="next">
  <a href="/en/annual-2013/lra-survival" id="executive_summary_next" class="btn btn-primary btn-next next-page"></a>
</div>

<!-- SUMMARY -->
<div class="summary">
  <span id="summary" class="label label-primary label-tldr"></span> 
  <span id="lra_survival_tldr"></span>
</div>

<!-- SECTION 1 -->
<a name="lra-camps" class="page-anchor"></a>
<h3 class="page-title-top lra_survival_subtitle_1"></h3>
<div id="lra_survival_text_1"></div>

<div id="lra_survival_map_title" class="map-title"></div>
<div class="map">
  <img src="/images/annual-2013-lra-supply-routes.png" width="100%">
</div>

<div class="row">
  <div class="map-legend">
    <div class="col-md-6 ">

      <div class="col-md-2"><div class="map-legend-marker">1</div></div>
      <div id="lra_survival_map_1" class="col-md-10"></div>

      <div class="col-md-2"><div class="map-legend-marker">2</div></div>
      <div id="lra_survival_map_2" class="col-md-10"></div>

      <div  class="col-md-2"><div class="map-legend-marker">3</div></div>
      <div id="lra_survival_map_3" class="col-md-10">

      </div><div class="col-md-2"><div class="map-legend-marker">4</div></div>
      <div id="lra_survival_map_4" class="col-md-10"></div>

      <div class="col-md-2"><div class="map-legend-marker">5</div></div>
      <div id="lra_survival_map_5" class="col-md-10"></div>

    </div>

    <div class="col-md-6">

      <div class="col-md-2"><div class="map-legend-marker">6</div></div>
      <div id="lra_survival_map_6" class="col-md-10"></div>
      
      <div class="col-md-2"><div class="map-legend-marker">7</div></div>
      <div id="lra_survival_map_7" class="col-md-10"></div>

      <div class="col-md-2"><div class="map-legend-marker">8</div></div>
      <div id="lra_survival_map_8" class="col-md-10"></div>

      <div class="col-md-2"><div class="map-legend-marker">9</div></div>
      <div id="lra_survival_map_9" class="col-md-10"></div>

    </div>
  </div>
</div>
<hr>

<p id="lra_survival_safe_haven"></p> 

<p id="lra_survival_negotiations"></p>

<p id="lra_survival_poaching"></p>

<p id="lra_survival_trading"></p>

<p id="lra_survival_live"></p>
  
<p id="lra_survival_resupply"></p>

<p id="lra_survival_looting"></p>

<!-- SECTION 2 -->
<a name="looting-analysis" class="page-anchor"></a>
<h3 class="page-title lra_survival_subtitle_2"></h3>
<div id="lra_survival_text_2">

</div>

<hr>
<div class="row row-alt">
  <div class="col-md-4">
    <p id="lra_survival_visual_text_1" style="margin-top: 50px; text-align: right"></p>
  </div>
  <div class="col-md-8">
    <div id="A13_Looting1" class="visual" style="height:275px; margin-top: 0px"></div> 
  </div>
</div>

<hr>
<div class="row row-alt">
  <div class="col-md-4">
    <p id="lra_survival_visual_text_2" style="margin-top: 45px; text-align: right"></p>
  </div>
  <div class="col-md-8">
    <div id="A13_Looting2" class="visual" style="height: 300px; margin-top: 0px;"></div> 
  </div>
</div>

<hr>
<div class="row row-alt">
  <div class="col-md-4">
    <p id="lra_survival_visual_text_3" style="margin-top: 0px; text-align: right"></p>
  </div>
  <div class="col-md-8">
    <div id="A13_NumberAbductedPerAttack" class="visual" style="height: 250px; margin-top: 0px;"></div>  
  </div>
</div>

<hr>
<div class="row row-alt">
  <div class="col-md-4">
    <p id="lra_survival_visual_text_4" style="margin-top: 45px; text-align: right"></p>
  </div>
  <div class="col-md-8">
    <div class="col-md-6">
      <div id="A13_AdultVsChild" class="visual" style="height: 250px; margin-top: 0px;"></div>
    </div>
    <div class="col-md-6">
      <div id="A13_LongVsShort" class="visual" style="height: 264px; margin-top: 0px;"></div>  
    </div>  
  </div>
</div>

<!-- NEXT PAGE -->
<div class="next">
  <a href="/en/annual-2013/lra-force-capacity" id="lra_survival_next" class="btn btn-primary btn-next next-page"></a>
</div>



<!-- SUMMARY -->
<div class="summary">
  <span id="summary" class="label label-primary label-tldr"></span> 
  <span id="force_capacity_tldr"></span> 
</div>

<!-- SECTION 1 -->
<h3 class="page-title-top force_capacity_subtitle_1"></h3>
<div id="force_capacity_text_1">
</div>

<div id="lra_force_capacity_map_title_1" class="map-title"></div>
<div class="map"><img src="/images/annual-2013-au-rtf.png" width="100%"></div>

<div class="row">
  <div class="map-legend">

    <div class="col-md-6 ">

      <div class="col-md-2"><div class="map-legend-marker">1</div></div>
      <div id="lra_force_capacity_map_1" class="col-md-10"></div>

      <div class="col-md-2"><div class="map-legend-marker">2</div></div>
      <div id="lra_force_capacity_map_2" class="col-md-10"></div>

      <div  class="col-md-2"><div class="map-legend-marker">3</div></div>
      <div id="lra_force_capacity_map_3" class="col-md-10">

      </div><div class="col-md-2"><div class="map-legend-marker">4</div></div>
      <div id="lra_force_capacity_map_4" class="col-md-10"></div>

      <div class="col-md-2"><div class="map-legend-marker">5</div></div>
      <div id="lra_force_capacity_map_5" class="col-md-10"></div>

      <div class="col-md-2"><div class="map-legend-marker">6</div></div>
      <div id="lra_force_capacity_map_6" class="col-md-10"></div>

    </div>

    <div class="col-md-6">

      <div class="col-md-2"><div class="map-legend-marker">7</div></div>
      <div id="lra_force_capacity_map_7" class="col-md-10"></div>

      <div class="col-md-2"><div class="map-legend-marker">8</div></div>
      <div id="lra_force_capacity_map_8" class="col-md-10"></div>

      <div class="col-md-2"><div class="map-legend-marker">9</div></div>
      <div id="lra_force_capacity_map_9" class="col-md-10"></div>

      <div class="col-md-2"><div class="map-legend-marker-double">10</div></div>
      <div id="lra_force_capacity_map_10" class="col-md-10"></div>

      <div class="col-md-2"><div class="map-legend-marker-double">11</div></div>
      <div id="lra_force_capacity_map_11" class="col-md-10"></div>

    </div>
  </div>
</div>
<hr>

<div class="row">
<div class="col-md-6">
  <div id="A13_ReductionCapacity" class="visual" style="height: 270px; margin-top: 0px;"></div> 
</div>

<div id="force_capacity_text_1part2" class="col-md-6" style="margin-top: 40px"></div>
</div>

<!-- SECTION 2 -->
<a name="lra-command-structure" class="page-anchor"></a>
<h3 class="page-title force_capacity_subtitle_2"></h3>
<div class="graphic">
  <img src="/images/annual-2013-lra-commanders.png" width="100%" style="width: 400px; margin-left: 45px; float: right;">
</div>
<div id="force_capacity_text_2"></div>

<!-- SECTION 3 -->
<a name="returnees" class="page-anchor"></a>
<h3 class="page-title force_capacity_subtitle_3"></h3>
<div id="force_capacity_text_3"></div>
<div id="lra_force_capacity_map_title_2" class="map-title"></div>
<iframe width='100%' height='520' frameborder='0' src='http://theresolve.cartodb.com/viz/86c24f4a-8d37-11e3-a979-0e49973114de/embed_map?title=false&description=false&search=false&shareable=false&cartodb_logo=true&layer_selector=false&legends=true&scrollwheel=false&sublayer_options=1&sql=&sw_lat=2.174770572211874&sw_lon=22.0166015625&ne_lat=7.536764322084078&ne_lon=32.5634765625'></iframe>


<!-- NEXT PAGE -->
<div class="next">
  <a href="/en/annual-2013/congo" id="lra_force_capacity_next" class="btn btn-primary btn-next next-page"></a>
</div>




<!-- SUMMARY -->
<div class="summary">
  <span id="summary" class="label label-primary label-tldr"></span> 
  <span id="congo_tldr"></span> 
</div>  

<!-- SECTION 1 -->
<h3 class="page-title-top congo_subtitle_1"></h3>
<div id="A13_Decline" class="visual" style="height: 270px; margin-top: 0px;"></div> 
<p id="congo_text_1"></p> 

<!-- SECTION 2 -->
<a name="dangerous-livelihoods" class="page-anchor"></a>
<h3 class="page-title congo_subtitle_2"></h3>
<div id="A13_Livelihood" class="visual" style="height: 270px; margin-top: 0px;"></div>
<p id="congo_visual_caption_2"></p>
<div id="congo_text_2"></div>

<!-- SECTION 3 -->
<a name="lra-vs-uag" class="page-anchor"></a>
<h3 class="page-title congo_subtitle_3"></h3>
<div id="congo_text_3"></div>
<div id="congo_map_title" class="map-title"></div>
<iframe width='100%' height='520' frameborder='0' src='http://theresolve.cartodb.com/viz/3bee6a30-8896-11e3-989a-0e49973114de/embed_map?title=false&description=false&search=false&shareable=false&cartodb_logo=false&layer_selector=false&legends=true&scrollwheel=false&sublayer_options=1%7C1&sql=&sw_lat=2.1308562777325313&sw_lon=21.95068359375&ne_lat=7.493196470122287&ne_lon=32.49755859375'></iframe>

<!-- NEXT PAGE -->
<div class="next">
  <a href="/en/annual-2013/car" id="congo_next" class="btn btn-primary btn-next next-page"></a>
</div>



<!-- SUMMARY -->
<div class="summary">
  <span id="summary" class="label label-primary label-tldr"></span> 
  <span id="car_tldr"></span> 
</div>

<!-- SECTION 1 -->
<h3 class="page-title-top car_subtitle_1"> </h3>
<div id="A13_Prefectures" class="visual" style="height: 350px; margin-top: 0px;"></div> 
<p id="car_text_1"></p>

<!-- SECTION 2 -->
<a name="mass" class="page-anchor"></a>
<h3 class="page-title car_subtitle_2"></h3>
<p id="car_text_2"></p>
<!-- SECTION 2 MAP -->
<div id="" class="map-title"></div>
<iframe width='100%' height='520' frameborder='0' src='http://theresolve.cartodb.com/viz/d80bd900-814a-11e3-9b6e-4518271b28db/embed_map?title=false&description=false&search=false&shareable=false&cartodb_logo=false&layer_selector=false&legends=true&scrollwheel=false&sublayer_options=1&sql=&sw_lat=1.537901237431487&sw_lon=14.0185546875&ne_lat=12.21118019150401&ne_lon=35.1123046875'></iframe>
<div id="car_map_caption" class="caption"></div>

<!-- SECTION 3 -->
<a name="lra-hotspots" class="page-anchor"></a>
<h3 class="page-title car_subtitle_3"></h3>

<div class="col-md-4">
  <div id="A13_Hotspotsa" class="visual" style="height: 250px; margin-top: 0px;"></div> 
</div>
<div class="col-md-4">
  <div id="A13_Hotspotsb" class="visual" style="height: 250px; margin-top: 0px;"></div> 
</div>
<div class="col-md-4">
  <div id="A13_Hotspotsc" class="visual" style="height: 250px; margin-top: 0px;"></div> 
</div>
<div id="car_text_3">
</div>

<!-- NEXT PAGE -->
<div class="next">
  <a href="/en/annual-2013/background" id="car_next" class="btn btn-primary btn-next next-page"></a>
</div>




<!-- SUMMARY -->
<span id="summary" class="label label-primary label-tldr"></span> 
<span id="political_context_tldr"></span>

<!-- NOTABLE POLITICAL CONTEXT -->
<h3 id="political_context_title" class="page-title-top"></h3>

<div id="political_context_subtitle_1" class="page-subtitle"></div>
<p id="political_context_text_1"><p> 

<div id="political_context_subtitle_2" class="page-subtitle"></div>
<p id="political_context_text_2"></p>

<div id="political_context_subtitle_3" class="page-subtitle"></div>
<p id="political_context_text_3"></p>

<div id="political_context_subtitle_4" class="page-subtitle"></div>
<p id="political_context_text_4"></p>

<div id="political_context_subtitle_5" class="page-subtitle"></div>
<p id="political_context_text_5"></p> 

<!-- LRA BACKGROUND -->
<a name="lra-background" class="page-anchor"></a>
<h3 id="lra_background_title" class="page-title"></h3>

<div id="lra_background_subtitle_1" class="page-subtitle"></div>
<div id="lra_background_text_1"></div>

<div id="lra_background_subtitle_2" class="page-subtitle"></div>
<div id="lra_background_text_2"></div>
 
<div id="lra_background_subtitle_3" class="page-subtitle"></div>
<div id="lra_background_text_3"></div>

<!-- ABOUT -->
<a name="about-ct" class="page-anchor"></a>
{% include en-about/about.html %}

<!-- METHODOLOGY -->
<a name="methodology" class="page-anchor"></a>
{% include en-about/methodology.html %}

<!-- CONTRIBUTORS -->
<a name="contributors" class="page-anchor"></a>
{% include en-about/contributors.html %}

