---
layout: en-q1-2014
published: true
categories: q1-2014
lang: en
---

<div class="super-page-title">LRA Crisis Tracker: Quarter 1 2014 Security Brief</div>
<hr>
<!--
EXECUTIVE SUMMARY
##################################################
##################################################
-->
<h3 class="page-title-top edge-top" id="executive_summary_title" >Executive Summary: Seasonal spike in LRA attacks, more defections in CAR</h3>

<p>The LRA abducted 133 civilians in 61 attacks between January and March 2014 (Quarter 1 2014), continuing a historical pattern in which the group increases attacks during the dry season. In the Democratic Republic of Congo (Congo), LRA forces <a href="#section_2">targeted civilians near the towns of Niangara and Bangadi</a>, undeterred by the presence of Congolese soldiers and UN peacekeeping (MONUSCO) bases there. However, LRA forces <a href="#section_1">committed only two attacks near Garamba National Park</a>, a level of security not seen in that area since mid-2008.</p>

<p>In the Central African Republic (CAR), LRA forces <a href="#section_3">targeted civilians near Ugandan and US military bases</a> in Haut Mbomou prefecture. Further north, in the CAR's Haut Kotto prefecture, LRA forces also <a href="#section_4"> reportedly committed several large raids</a> in an area where LRA leader Joseph Kony frequently operates. Long-term LRA members continued to escape in eastern CAR, with <a href="#section_5">five Ugandan fighters and 13 women and children escaping there</a> in Quarter 1 2014.

<div id="Q12014_ES" class="visual" style="height: 350px; margin-top: 0px;"></div>
<p class="graph-label">LRA attacks by quarter, 2010&ndash;2014</p>



<!--
SECTION 1
##################################################
##################################################
-->
<a name="section_1" class="page-anchor"></a>
<h3 class="page-title" id="section_1_title" >I. Congo: LRA raids drop near Garamba National Park</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>LRA attacks have dropped significantly in the past six months in communities near Congo's Garamba National Park, which were previously frequent targets of LRA attacks. The decrease in violence there follows operations in September 2013 by African Union troops to dislodge LRA groups from their bases in the park.</i></span></p>
<p>The LRA first entered Congo's Garamba National Park in 2005, and nearly the entire LRA force lived there in established camps during the 2006&ndash;2008 Juba peace talks. Following the collapse of the peace talks and launch of Ugandan military operations in December 2008, most LRA groups left the park. However, Kony has entrusted a series of commanders with maintaining LRA bases there, from which they have poached elephants and launched raids on civilians. Between January 2012 and September 2013 alone, LRA forces abducted 158 people in 143 attacks on communities surrounding the park.</p>

<p>In mid-September 2013, South Sudanese troops with the African Union's counter-LRA force, utilizing US military intelligence and accompanied by US military advisers, <a href="http://www.washingtonpost.com/world/national-security/kony-2013-us-quietly-intensifies-effort-to-help-african-troops-capture-infamous-warlord/2013/10/28/74db9720-3cb3-11e3-b6a9-da62c264f40e_story.html" target="_blank">destroyed several LRA bases in Garamba National Park</a>. Over the next six months (October 2013&ndash;March 2014), LRA forces committed 11 attacks on communities west of the park, but none south or east of the park. It is difficult to determine whether all LRA groups have left Garamba National Park, and, if so, whether the operations were the most important factor in their exodus. However, the graph and map below demonstrate that these communities have experienced a level of security unprecedented in recent years.</p>
<div class="map-title">LRA attacks near Garamba National Park* | January 2010&ndash;March 2014</div>
<p><i>*Defined as areas of Haut Uele district within a 140km radius of Faradje</i></p>

<div id="Q12014_F" class="visual" style="height: 300px; margin-top: 0px;"></div>

<div class="map-title">LRA attacks near Garamba National Park | September 2013&ndash;March 2014</div>
<p><i>Click and drag the circle in the center of the map to compare LRA attacks near Garamba National Park from April&ndash;September 2013 vs. October 2013&ndash;March 2014</i></p>

<div id="twentytwentycontainer">
 <img src="/data/faradje-before.png" />
  <img src="/data/faradje-after.png" />
</div>


<!--
SECTION 2
##################################################
##################################################
-->
<a name="section_2" class="page-anchor"></a>
<h3 class="page-title" id="section_2_title" >II. Congo: Attacks shift west towards Niangara&ndash;Bangadi area</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>While LRA attacks have reduced dramatically near Garamba National Park, they have increased further west in Haut Uele district, indicating LRA groups formerly based in the park may have moved there. In February and March 2014, LRA groups particularly targeted communities near the towns of Niangara and Bangadi, abducting 36 people and looting 39 others in 23 attacks.</i></span></p>

<p>The LRA attacks and abductions near Niangara and Bangadi in Quarter 1 2014, which exceeded the totals for that area in the previous 12 months combined, occurred in three distinct waves. From February 2&ndash;17, LRA forces committed ten attacks north of Niangara, near the village of Nambia, in which they abducted 12 people and looted property from at least seven others. Then, from February 22&ndash;25, LRA forces committed five attacks near Bangadi, 35km north of Nambia, abducting 22 people and looting 13 others. Finally, LRA forces committed eight additional attacks in the area between from March 11&ndash;27. Most of the attacks were aimed at obtaining food and items such as machetes, boots, clothing, and ammunition.</p>

<div class="row">
  <div class="col-md-7">
    <p>Other armed groups were also active in Haut Uele in Quarter 1 2014. In particular, tensions between Mbororo cattle herders and primarily Zande agricultural communities persisted, resulting in 12 incidents involving violent conflict. Seven of these incidents occurred in the vicinity of Niangara and Bangadi. In addition, there were 22 attacks in which the armed perpetrator was unidentified, including nine in the Niangara&ndash;Bangadi area. Such attacks may have been perpetrated by bandits, the LRA, Mbororo, rogue Congolese soldiers, or poachers.</p>
  </div>
  <div class="col-md-5">
    <div id="Q12014_Bar" class="visual" style="height: 220px; margin-top: 0px;"></div>
  </div>
</div>

<p>Despite the presence of other armed groups in Haut Uele, there is significant evidence the LRA committed many of the attacks reported there in Quarter 1 2014, particularly those near Niangara and Bangadi. The perpetrators of the reported LRA attacks exhibited several classic indicators that often distinguish the LRA from other armed groups, such as communicating in Acholi or an "unknown" language, attacking in groups composed of women and children in addition to men, and abducting civilians. In several attacks, LRA forces interrogated abductees about military deployments and civilian travel patterns, another frequent LRA practice. In addition, two Congolese hunters reported seeing a large LRA camp near a stream 35km north of Niangara on February 22.</p>

<div class="map-title">Armed group activity in LRA-affected areas of Haut Uele district | January&ndash;March 2014</div>
<button class="btn btn-primary map-animate-control">
  <i class="fa fa-play"></i> Play
</button>
<div class="map-date"></div>
<div class="map" id="nambia_map"></div>

<div id='nambia_map_legend' class="legend-content" style='display: none;'>
  <div class='legend'>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #2563A3"></span>
      <span class="legend-item-text">Attack by the LRA</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #DDDDDD"></span>
      <span class="legend-item-text">Violent confrontation between Mbororo and other civilians</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #802326"></span>
      <span class="legend-item-text">Attack by unidentified armed groups</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>Congolese troops and MONUSCO peacekeepers are deployed in both Bangadi and Niangara, within 30km of all 23 LRA attacks reported in the area. MONUSCO troops also temporarily deployed to Nambia for several days beginning on February 15, after the LRA group had already committed eight attacks in the area and was beginning to shift north towards Bangadi.</p>

    <p>As military forces reacted slowly, some civilians reportedly temporarily left Nambia to seek greater security in Niangara. It <a href="http://www.theresolve.org/2014/03/civil-society-its-time-for-monusco-to-protect-civilians-from-the-lra/" target="_blank">remains unclear what impact</a>, if any, MONUSCO or Congolese troops have had in deterring LRA activity in the area.</p>
  </div>
  <div class="col-md-8">
    <div id="Q12014_HU" class="visual" style="height: 350px; margin-top: 0px;"></div>
    <p><i>**Defined as areas of Haut Uele district within a 45km radius of Nambia, which lies between Niangara and Bangadi</i></p>

  </div>
</div>

<!--
SECTION 3
##################################################
##################################################
-->
<a name="section_3" class="page-anchor"></a>
<h3 class="page-title" id="section_3_title">III. CAR: LRA targets Obo&ndash;Mboki axis</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>LRA violence rose sharply in the CAR's Haut Mbomou prefecture, where Ugandan and US troops are based. The group's 17 attacks and 35 abductions there in Quarter 1 2014 approached or surpassed yearly attack and abduction totals in Haut Mbomou in both 2012 and 2013.</i></span></p>

<p> <a href="http://invisiblechildren.com/blog/2014/02/04/on-the-radar-first-lra-attack-in-obo-car-in-over-a-year/" target="_blank">LRA attacks in Haut Mbomou in Quarter 1 2014 were unusually bold</a>, with 11 of the 17 attacks occurring within 15km of Ugandan military bases in the towns of Obo and Mboki. Nearly two-thirds of the people abducted in the LRA's attacks in Haut Mbomou were forced to porter looted goods into the bush before being released by their captors. During at least four such attacks, LRA forces asked abductees detailed questions about the location of military forces and nearby communities, as well as the movement of civilians along nearby roads.</p>  

<p>Recent attack patterns in Haut Mbomou suggest LRA forces are taking advantage of the dry season to store up food and other supplies, but it remains unclear why they chose to target Haut Mbomou, where the presence of Ugandan and US troops has deterred LRA activity in recent years. <strong>The 17 attacks and 35 abductions in Haut Mbomou in Quarter 1 2014 approach or surpass yearly attack and abduction totals there in both 2012 and 2013</strong>.</p>

<div class="row">
  <div class="col-md-6">
    <p>Ugandan troops have limited capacity to protect civilians in Haut Mbomou from LRA attacks and pursue LRA leaders operating further west and north in the CAR, particular since their redeployment of some troops from counter-LRA operations to the civil conflict in South Sudan. In addition, in March 2013 Congolese civilians reported several attacks and the presence of an LRA camp in Congo near the border with Haut Mbomou, suggesting LRA forces may be launching attacks there from Congo, where Ugandan troops do not have permission to operate. Of particular note, on March 7, LRA forces in Congo &ndash; 65km south of Mboki, CAR &ndash; abducted two hunters and interrogated them on directions to Mboki. The following week, LRA forces committed three attacks near Mboki, after not attacking the area in the previous six weeks.</p>

  </div>
  <div class="col-md-6">
    <div id="Q12014_HM" class="visual" style="height: 275px; margin-top: 0px;"></div>
  </div>
</div>



<!--
SECTION 4
##################################################
##################################################
-->
<a name="section_4" class="page-anchor"></a>
<h3 class="page-title" id="section_4_title" name="resupplying_kony">IV. Kafia Kingi: The LRA returns?</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>Civilians reported a series of large-scale LRA attacks near the town of Sam Ouandja in the CAR's Haut Kotto prefecture, though lack of access to the area has limited efforts to verify the reports. Separate reports indicated senior LRA commanders are once again operating in the neighboring Kafia Kingi enclave.</i></span></p>

<p>LRA leader Joseph Kony has <a href="http://www.theresolve.org/2013/04/report-sudans-renewed-support-to-the-lra/" target="_blank">operated periodically in the Sudanese-controlled Kafia Kingi enclave</a>, which borders CAR's Haut Kotto and Vakaga prefectures, since 2010. Kony has utilized Kafia Kingi in multiple ways: as a safe haven from pursuing Ugandan troops, as a marketplace to barter ivory poached in Congo, and as an outpost to rekindle the LRA's historic relationship with the Sudanese military. Not wanting to alienate Sudanese troops, LRA forces have rarely if ever attacked civilians in the enclave. Instead, they have periodically sent raiding parties into the CAR to loot civilians there, beginning with a series of eight attacks in Haut Kotto and Vakaga prefectures in late 2010.</p>

<p>Kony was last confirmed to be in Kafia Kingi in March 2013, just before he fled to the CAR in advance of an Ugandan military attack on his camps in the enclave. After a series of large-scale raids on Central African towns in Haut Kotto in the aftermath of the Ugandan operations, LRA forces committed relatively few attacks there between July and November 2013.</p>

<p>In December 2013, reports of LRA activity in Haut Kotto began to increase. From December 2013&ndash;March 2014, civilians near Sam Ouandja, a diamond mining town less than 50km from the Kafia Kingi border, reported seven LRA attacks in which the rebel group allegedly abducted 91 people. Sam Ouandja is not well-connected to early warning networks in the CAR, and no international aid groups or UN agencies have bases there, making it very difficult to verify reports of attacks and who perpetrated them.</p>

<p>There are several reasons to believe civilians are correct in identifying the LRA as perpetrator of the eight reported LRA attacks near Sam Ouandja. The perpetrators abducted people in all seven attacks, and abducted ten or more people in four of the attacks. Many of the abductees were forced to porter looted supplies into the bush before being released. These attack patterns are very similar to LRA attacks patterns in recent years, particularly those in nearby Vakaka prefecture in 2010, Mbomou prefecture in 2012, and Haut Kotto in mid-2013.</p> 

<p>Other sources, including LRA defectors, have indicated LRA leaders, including Joseph Kony, are again operating in Kafia Kingi, which borders Haut Kotto. If these reports are true, the Sam Ouandja area would be an ideal location for LRA forces operating there to loot supplies for their survival.</p>

<div class="map-title">LRA attacks in the CAR's Haut Kotto and Vakaga prefectures  | 2010&ndash;2014</div>
<div class="map" id="northern_attacks_map"></div>
<div id='northern_attacks_map_legend' class="legend-content" style='display: none;'>
  <div class='legend'>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #33AD5C"></span>
      <span class="legend-item-text">LRA camps in Kafia Kingi (2011-2013)</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #DDDDDD"></span>
      <span class="legend-item-text">2010 LRA attacks</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #aaa"></span>
      <span class="legend-item-text">2011 LRA attacks</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #4B4B4B"></span>
      <span class="legend-item-text">2012 LRA attacks</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #2563A6"></span>
      <span class="legend-item-text">2013 LRA attacks</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #802315"></span>
      <span class="legend-item-text">2014 LRA attacks (through March 31)</span>
    </div>
  </div>
</div>



<!--
SECTION 5
##################################################
##################################################
-->
<a name="section_5" class="page-anchor"></a>
<h3 class="page-title" id="section_5_title">V. CAR: Ugandan fighters defect</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>Eighteen LRA members who had been with the group for at least six months <a href="http://invisiblechildren.com/blog/2014/02/17/radar-male-defector-corroborates-odhiambo-rumor-four-escape-lra-car-feb-9th/" target="_blank">escaped in Quarter 1 2014</a>, including five Ugandan male combatants, five women, and eight children.</i></span></p>
<div class="row">
  <div class="col-md-4">

<p>LRA Crisis Tracker data estimated there was 160&ndash;168 Ugandan male combatants remaining within the LRA by the end of 2013, following the defection, capture, or killing of between 32&ndash;40 combatants that year. Since then, the five LRA combatant defections in Quarter 1 2014 represent an additional 3% reduction in the LRA's fighting capacity.</p>
  </div>
  <div class="col-md-8">
    <div id="Q12014_Combatant" class="visual" style="height: 350px; margin-top: 0px;"></div>
  </div>
</div>
<p>All five Ugandan combatants who escaped the LRA in Quarter 1 2014 did so in eastern CAR. Since 2012, 87% of all Ugandan combatant defectors have escaped there, most commonly in the Vovodo-Chinko river basin and near towns with Ugandan military bases such as Mboki, Djemah, and Obo. The concentration of LRA combatant defections in this area is likely due to a number of factors, including the presence of Ugandan military bases, the concentration of LRA groups in the CAR, and the relative saturation of "Come Home" defection messaging there. Six of the ten adults who escaped the LRA in Quarter 1 2014 were influenced by Come Home defection messages delivered by fliers, helicopter speakers, or FM and shortwave radio. </p>
<div class="map-title">Defections of Ugandan male combatants from the LRA | 2012&ndash;2014</div>
<div class="map" id="combatant_defections_map"></div>
<div id='combatant_defections_map_legend' class="legend-content" style='display: none;'>
  <div class='legend'>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #2563A3"></span>
      <span class="legend-item-text">Ugandan LRA combatant defection, 2013</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #802317"></span>
      <span class="legend-item-text">Ugandan LRA combatant defection, 2014</span>
    </div>
  </div>
</div>

<p class="graph-label">Note: Each circle represents one defection incident. The size of each circle is proportionate to the number of Ugandan combatants who defected during that incident.</p>


<a name="section_6" class="page-anchor"></a>
<h3 class="page-title" id="section_6_title">VI. Background</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>This section contains more information about the LRA Crisis Tracker, including the methodology used to verify reports of LRA activity. It also includes information about The Resolve LRA Crisis Initiative and Invisible Children.</i></span></p>
<!-- ABOUT -->
{% include en-about/about.html %}

<!-- METHODOLOGY -->
{% include en-about/methodology.html %}

<!-- CONTRIBUTORS -->
{% include en-about/contributors.html %}
