---
layout: en-q1-2014
published: true
categories: q1-2014
lang: fr
---

<div>
 <a class="btn btn-primary btn-download download" href="/pdf/2014-Q1-LRA-Crisis-Tracker-Quarterly-Security-Brief.pdf" style="float: right; margin-top: 4px">Download PDF</a>
</div>

<div class="super-page-title">LRA Crisis Tracker: 1er trimestre 2014 Dossier de sécurité</div>
<hr>
<!--
Résumé
##################################################
##################################################
-->
<h3 class="page-title-top edge-top" id="executive_summary_title" >Résumé: pic saisonnier dans les attaques de la LRA, plus de défections en RCA</h3>

<p>La LRA a enlevé 133 civils en 61 attaques entre janvier et mars 2014 (1er trimestre 2014), continuant une tendance historique dans laquelle le groupe augmente les attaques pendant la saison sèche. En République démocratique du Congo (Congo), les forces de la LRA <a href="#section_2">ont ciblé des civils près des villes de Niangara et Bangadi</a>, sans se laisser décourager par la présence de soldats Congolais et des forces de maintien de la paix des Nations Unies (MONUSCO) basés là. Cependant, les forces de la LRA <a href="#section_1">ont commis seulement deux attaques près du parc national de la Garamba</a>, un niveau de sécurité non-observé dans cette région depuis la mi-2008.</p>

<p>En République Centrafricaine (RCA), les forces de la LRA <a href="#section_3">ont ciblé des civils à proximité des bases militaires Ougandaises et Américaines</a> dans la préfecture du Haut Mbomou. Plus au nord, dans la préfecture de Haut Kotto de la RCA, les forces de la LRA auraient également <a href="#section_4"> commis plusieurs grands raids</a> dans une zone où chef de la LRA Joseph Kony opère fréquemment. Des membres de long terme de la LRA ont continué à s’échapper dans l’est de la RCA, avec <a href="#section_5">cinq combattants Ougandais et 13 femmes et enfants y fuyant</a> au 1 er trimestre 2014.

<div id="Q12014_ES" class="visual" style="height: 350px; margin-top: 0px;"></div>
<p class="graph-label">Attaques de la LRA par trimestre, 2010&ndash;2014</p>



<!--
SECTION 1
##################################################
##################################################
-->
<a name="section_1" class="page-anchor"></a>
<h3 class="page-title" id="section_1_title" >I. Congo: Les raids de la LRA chutent près du parc national de la Garamba</h3>
<p><span id="summary" class="label label-primary label-tldr">Résumé</span>
<span><i>Les attaques de la LRA ont chuté considérablement au cours des six derniers mois dans les communautés proches du parc national de la Garamba au Congo, qui étaient préalablement des cibles fréquentes des attaques de la LRA. La diminution de la violence dans cette région fait suite aux opérations des troupes de l'Union africaine en septembre 2013 pour déloger des groupes de la LRA de leurs bases dans le parc.</i></span></p>
<p>La LRA est entrée dans le parc national de la Garamba en 2005, et près de la totalité de la force de la LRA vivait là dans des camps établis pendant les pourparlers de paix de Juba en 2006&ndash;2008. Suite à l'effondrement des pourparlers de paix et au lancement des opérations militaires Ougandaises en décembre 2008, la plupart des groupes de la LRA ont quitté le parc. Cependant, Kony a confié à une série de commandants le maintien de bases LRA là-bas, à partir desquelles ils ont braconné des éléphants et lancé des raids sur des civils. Entre janvier 2012 et septembre 2013 seuls, les forces de la LRA ont enlevé 158 personnes dans 143 attaques dans des communautés qui entourent le parc.</p>

<p>À la mi-septembre 2013, des troupes Sud-Soudanaises avec la force contre-LRA de l'Union africaine, en utilisant des renseignements militaires Américains et accompagnées par des conseillers militaires Américains, <a href="http://www.washingtonpost.com/world/national-security/kony-2013-us-quietly-intensifies-effort-to-help-african-troops-capture-infamous-warlord/2013/10/28/74db9720-3cb3-11e3-b6a9-da62c264f40e_story.html" target="_blank">ont détruit plusieurs bases de la LRA dans le parc national de la Garamba</a>. Au cours des six prochains mois (octobre 2013&ndash;mars 2014), les forces de la LRA ont commis 11 attaques contre des communautés à l'ouest du parc, mais aucune au sud ou à l'est du parc. Il est difficile de déterminer si tous les groupes de la LRA ont quitté le parc national de la Garamba, et, dans l'affirmative, si les opérations ont été le facteur le plus important dans leur exode. Cependant, le graphique et la carte ci-dessous montrent que les communautés
entourant le parc ont connu un niveau de sécurité sans précédent au cours des dernières années.</p>
<div class="map-title">Attaques de la LRA près du Parc national de la Garamba* | Janvier 2010&ndash;Mars 2014</div>
<p><i>*Défini comme des zones du district du Haut Uélé, dans un rayon de 140 kilomètres de Faradje</i></p>

<div id="Q12014_F" class="visual" style="height: 300px; margin-top: 0px;"></div>

<div class="map-title">Attaques de la LRA près du Parc national de la Garamba | Avril 2013&ndash;Mars 2014</div>
<p><i>Cliquez et faites glisser le cercle au centre de la carte pour comparer les attaques de la LRA près du parc national de la Garamba de Avril&ndash;Septembre 2013 vs. Octobre 2013&ndash;Mars 2014</i></p>

<div id="twentytwentycontainer">
 <img src="/data/faradje-before.png" />
  <img src="/data/faradje-after.png" />
</div>


<!--
SECTION 2
##################################################
##################################################
-->
<a name="section_2" class="page-anchor"></a>
<h3 class="page-title" id="section_2_title" >II. Congo: Les attaques se déplacent à l'ouest vers la zone de Niangara&ndash;Bangadi</h3>
<p><span id="summary" class="label label-primary label-tldr">Résumé</span>
<span><i>Alors que les attaques de la LRA ont réduit de façon spectaculaire à proximité du parc national de la Garamba, elles ont augmenté plus à l'ouest dans le
district du Haut Uélé, indiquant que les groupes de la LRA anciennement basés dans le parc se seraient peut-être déplacés là. En février et mars 2014, des groupes de la LRA ont particulièrement ciblés les communautés près des communautés de Niangara et Bangadi, enlevant 36 personnes et pillant 39 autres lors de 23 attaques.</i></span></p>

<p>Les attaques et les enlèvements de la LRA près de Niangara et Bangadi au 1er trimestre de 2014 ont dépassé les totaux atteint par ce secteur pour l'ensemble de 2013. La violence a eu lieu en trois vagues distinctes. Du 2 au 17 février, les forces de la LRA ont commis dix attaques au nord de Niangara, près du village de Nambia, dans lesquelles elles ont enlevé 12 personnes et pillé les biens d'au moins sept autres. Ensuite, du 22 au 25 février, les forces de la LRA ont commis cinq attaques près de Bangadi, à 35km au nord de Nambia, enlevant 22 personnes et pillant 13 autres. Enfin, les forces de la LRA ont commis huit autres attaques dans la région du 11 au 27 mars. La plupart des attaques visaient à obtenir de la nourriture et des articles tels que des machettes, des bottes, des vêtements, et des munitions.</p>

<div class="row">
  <div class="col-md-4">
    <p>D'autres groupes armés ont également été actifs dans le Haut Uélé au 1er trimestre 2014. En particulier, les tensions entre les éleveurs de bétail Mbororo et les communautés agricoles essentiellement Zande ont persisté, résultant en neuf confrontations violentes. Six de ces incidents se sont produits dans les environs de Niangara et Bangadi.  De plus, il y a eu 19 attaques dans lesquelles l'auteur armé était non identifié, dont six dans la zone Niangara-Bangadi. De telles attaques peuvent avoir été commises par des bandits, la LRA, des Mbororo, des soldats congolais voyous, ou des braconniers.</p>
  </div>
  <div class="col-md-8">
    <div id="Q12014_Bar" class="visual" style="height: 220px; margin-top: 0px;"></div>
       <p><i>**Défini comme zones du district du Haut Uélé dans un rayon de 45 km de Nambia, qui se trouve entre Niangara et Bangadi</i></p>
  </div>
</div>

<p>Malgré la présence d'autres groupes armés dans le Haut Uélé, il existe des preuves significatives que la LRA a commis beaucoup des attaques rapportées au 1er trimestre 2014, particulièrement celles situées près de Niangara et Bangadi. Les auteurs des attaques signalées de la LRA ont présenté plusieurs indicateurs classiques qui distinguent souvent la LRA d'autres groupes armés, tels que la communication en Acholi ou dans une langue «inconnue», l’attaque dans des groupes composés de femmes et d'enfants en plus des hommes, et l’enlèvement des civils. Dans plusieurs attaques, les forces de la LRA ont interrogé les personnes enlevées sur les déploiements militaires et les tendances dans les mouvements de civils, une autre pratique fréquente de la LRA. En outre, deux chasseurs Congolais ont rapporté avoir vu un grand camp de la LRA près d'un ruisseau à 35 km au nord de Niangara le 22 février.</p>

<div class="map-title">Attaques de groupes armés dans le district du Haut Uélé | Janvier&ndash;Mars 2014</div>
<!-- <button class="btn btn-primary map-animate-control">
  <i class="fa fa-play"></i> Play
</button>
<div class="map-date"></div> -->
<div class="map" id="nambia_map"></div>

<div id='nambia_map_legend' class="legend-content" style='display: none;'>
  <div class='legend'>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #2563A3"></span>
      <span class="legend-item-text">Attaque par la LRA</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #DDDDDD"></span>
      <span class="legend-item-text">Confrontation violente entre Mbororo et autres civils</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #802326"></span>
      <span class="legend-item-text">Attaque par un groupe armé non-identifié</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>Des troupes Congolaises et des soldats de la paix de la MONUSCO sont déployées dans à la fois à Bangadi et Niangara, dans un rayon de 30 km des 23 attaques de la LRA signalées dans cette zone. Des troupes de la MONUSCO ont également été temporairement déployées à Nambia pour plusieurs jours à compter du 15 février, après  que le groupe de la LRA avait déjà commis huit attaques dans la région et commençait à se déplacer au nord vers Bangadi.</p>

    <p>Alors que les forces militaires ont réagi lentement, certains civils auraient temporairement quitté Nambia, recherchant une plus grande sécurité à Niangara. On ne sait pas <a href="http://www.theresolve.org/2014/03/civil-society-its-time-for-monusco-to-protect-civilians-from-the-lra/" target="_blank">quel impact,</a>, le cas échéant, la MONUSCO ou les troupes Congolaises ont eu pour dissuader les activités de la LRA dans la région.</p>
  </div>
  <div class="col-md-8">
    <div id="Q12014_HU" class="visual" style="height: 350px; margin-top: 0px;"></div>
  </div>
</div>

<!--
SECTION 3
##################################################
##################################################
-->
<a name="section_3" class="page-anchor"></a>
<h3 class="page-title" id="section_3_title">III. RCA: la LRA cible l’axe Obo&ndash;Mboki</h3>
<p><span id="summary" class="label label-primary label-tldr">Résumé</span>
<span><i>La violence de la LRA a fortement augmenté dans la préfecture du Haut Mbomou en RCA, où les troupes Ougandaises et Américaines sont basées. Les
17 attaques de la LRA et 35 enlèvements dans la préfecture au 1er trimestre 2014 ont atteint ou ont dépassé les totaux annuels pour cette région, à la fois pour 2012 et 2013.</i></span></p>

<p> <a href="http://invisiblechildren.com/blog/2014/02/04/on-the-radar-first-lra-attack-in-obo-car-in-over-a-year/" target="_blank">Les attaques de la LRA dans le Haut Mbomou dans le 1er trimestre 2014 étaient exceptionnellement intrépides</a>, avec 11 des 17 attaques se produisant à 15 km de
bases militaires Ougandaises dans les communautés de Obo et Mboki. Près des deux tiers des personnes enlevées dans les attaques de la LRA dans le Haut Mbomou ont été forcées de porter des charges de biens pillés dans la brousse avant d'être libérées par leurs ravisseurs. Pendant au moins quatre telles attaques, les forces de la LRA ont demandé aux personnes enlevées des questions détaillées sur l'emplacement des forces militaires et des communautés voisines, ainsi que sur le mouvement de civils le long des routes à proximité.</p>

<div class="row">
  <div class="col-md-4">
<p>Les récentes tendances d'attaque dans le Haut Mbomou suggèrent que les forces de la LRA profitent de la saison sèche afin de stocker de la nourriture et d'autres fournitures, mais il reste difficile de savoir pourquoi elles ont choisi de cibler Haut Mbomou, où la présence de troupes Ougandaises et Américaines ont dissuadé les activités de la LRA au cours des dernières années. Les troupes Ougandaises ont une capacité limité pour protéger les civils dans le Haut Mbomou des attaques de la LRA et pour poursuivre les dirigeants de la LRA opérant plus à l'ouest et au nord de la RCA, en particulier depuis le redéploiement de certaines troupes de contre-opérations de la LRA vers la guerre civile au Sud-Soudan.</p>

  </div>
  <div class="col-md-8">
    <div id="Q12014_HM" class="visual" style="height: 275px; margin-top: 0px;"></div>
  </div>
</div>

<p>En mars 2013 des civils Congolais ont signalé plusieurs attaques et la présence d'un camp de la LRA au Congo près de la frontière avec le Haut Mbomou. Ceci suggère que les forces de la LRA lanceraient des attaques en RCA à partir du Congo, où les troupes Ougandaises n’ont pas l'autorisation d’opérer. On notera en particulier un incident du 7 mars, où les forces de la LRA au Congo près de la frontière avec la RCA ont enlevé deux chasseurs et les ont interrogés sur la direction de Mboki. La semaine suivante, les forces de la LRA ont commis trois attaques près de Mboki, après ne pas avoir attaqué la région au cours des six semaines précédentes.</p>

<!--
SECTION 4
##################################################
##################################################
-->
<a name="section_4" class="page-anchor"></a>
<h3 class="page-title" id="section_4_title" name="resupplying_kony">IV. Kafia Kingi: Le retour de la LRA?</h3>
<p><span id="summary" class="label label-primary label-tldr">Résumé</span>
<span><i>Des civils ont signalé une série d'attaques à grande échelle de la LRA près de la communauté de Sam Ouandja dans la préfecture du Haut Kotto en RCA, bien que le manque d'accès à la zone a limité les efforts pour vérifier les informations. Des rapports distincts ont indiqué que de principaux commandants de la LRA opèrent une fois de plus dans l'enclave proche du Kafia Kingi.</i></span></p>

<p>Le chef de la LRA Joseph Kony a<a href="http://www.theresolve.org/2013/04/report-sudans-renewed-support-to-the-lra/" target="_blank">opéré périodiquement dans l'enclave</a>, sous contrôle Soudanais du Kafia Kingi, qui borde les préfectures du Haut Kotto et Vakaga en RCA, depuis 2010. Kony a utilisé le Kafia Kingi de multiples façons: comme un refuge des troupes Ougandaises le poursuivant, comme un marché pour le troc d’ivoire braconné au Congo, et comme un avant-poste pour raviver la relation historique de la LRA avec l'armée Soudanaise. Ne voulant pas aliéner les troupes Soudanaises, les forces de la LRA ont rarement, voire jamais, attaqué des civils dans l'enclave. Au lieu de cela, ils ont envoyé périodiquement des groupes de  raids en RCA pour piller les civils là-bas, en commençant par une série de huit attaques dans les préfectures du Haut Kotto et Vakaga vers  la fin de 2010.</p>

<p>La présence de Kony au Kafia Kingi a été confirmée pour la dernière fois en mars 2013, juste avant sa fuite en RCA à l'avance d'une attaque de l’armée Ougandaise sur ses camps dans l'enclave. Après une série de raids à grande échelle sur les villes de Centrafrique dans le Haut Kotto à la suite des opérations Ougandaises, les forces de la LRA ont commis relativement peu d'attaques là entre juillet et novembre 2013.</p>

<p>En décembre 2013, les rapports d'activité de la LRA dans le Haut Kotto ont commencé à augmenter. De décembre 2013 à mars 2014, des civils près de Sam Ouandja, une ville minière de diamants à moins de 50 km de la frontière du Kafia Kingi, ont rapporté sept attaques de la LRA dans laquelle le groupe rebelle aurait enlevé 91 personnes. Sam Ouandja n'est pas bien relié aux réseaux d'alerte précoce en RCA, et aucun groupes d'aide internationaux ou agences des Nations Unies ont des bases là-bas, ce qui rend très difficile la vérification des rapports d'attaques et de l’identité de ceux qui les ont commis.</p>

<p>Malgré cela, il y a plusieurs raisons de croire que les civils sont corrects dans l'identification de la LRA comme l'auteur des sept attaques signalées près de Sam Ouandja. Les auteurs ont enlevé des personnes dans les sept attaques, et ont enlevé dix ou plus de personnes dans quatre des attaques. Beaucoup des personnes enlevées ont été contraintes de porter dans la brousse des charges de fournitures pillées avant d'être relâchées. Ces caractéristiques sont très similaires aux modèles des attaques de la LRA au cours des dernières années, en particulier celles dans la préfecture du Vakaga en 2010, préfecture du Mbomou en 2012, et préfecture du Haut Kotto à la mi-2013.</p>

<p>D'autres sources, y compris des déserteurs de la LRA, ont indiqué que des dirigeants de la LRA tel que Joseph Kony opèrent de nouveau dans le Kafia Kingi, qui borde le Haut Kotto. Si ces informations sont exactes, la région de Sam Ouandja serait un endroit idéal pour que les forces de la LRA opérant dans l'enclave pillent des fournitures pour leur survie.</p>

<div class="map-title">LRA attacks in the CAR's Haut Kotto and Vakaga prefectures  | January 2010&ndash;March 2014</div>
<div class="map" id="northern_attacks_map"></div>
<div id='northern_attacks_map_legend' class="legend-content" style='display: none;'>
  <div class='legend'>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #33AD5C"></span>
      <span class="legend-item-text">LRA camp in Kafia Kingi, 2011-2013</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #DDDDDD"></span>
      <span class="legend-item-text">LRA attack, 2010 </span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #aaa"></span>
      <span class="legend-item-text">LRA attack, 2011</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #4B4B4B"></span>
      <span class="legend-item-text">LRA attack, 2012</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #2563A6"></span>
      <span class="legend-item-text">LRA attack, 2013</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #802315"></span>
      <span class="legend-item-text">LRA attack, 2014 (through March 31)</span>
    </div>
  </div>
</div>



<!--
SECTION 5
##################################################
##################################################
-->
<a name="section_5" class="page-anchor"></a>
<h3 class="page-title" id="section_5_title">V. CAR: Ugandan fighters defect from the LRA</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>Eighteen LRA members who had been with the group for at least six months <a href="http://invisiblechildren.com/blog/2014/02/17/radar-male-defector-corroborates-odhiambo-rumor-four-escape-lra-car-feb-9th/" target="_blank">escaped in Quarter 1 2014</a>, including five Ugandan male combatants, five women, and eight children.</i></span></p>
<div class="row">
  <div class="col-md-3">

<p>LRA Crisis Tracker data estimated there was <a href="http://reports.lracrisistracker.com/en/annual-2013/" target="_blank">160&ndash;168 Ugandan male combatants</a> remaining within the LRA by the end of 2013, following the defection, capture, or killing of between 32&ndash;40 combatants that year. Since then, the five LRA combatant defections in Quarter 1 2014 represent an additional 3% reduction in the LRA's fighting capacity.</p>
  </div>
  <div class="col-md-9">
    <div id="Q12014_Combatant" class="visual" style="height: 280px; margin-top: 0px;"></div>
  </div>
</div>
<p>All five Ugandan combatants who escaped the LRA in Quarter 1 2014 did so in eastern CAR. Since 2012, 87% of all Ugandan combatant defectors have escaped there, most commonly in the Vovodo-Chinko river basin and near towns with Ugandan military bases such as Mboki, Djemah, and Obo. The concentration of LRA combatant defections in this area is likely due to a number of factors, including the presence of Ugandan military bases, the concentration of LRA groups in the CAR, and the relative saturation of "Come Home" defection messaging there. Six of the ten adults who escaped the LRA in Quarter 1 2014 were influenced by Come Home defection messages delivered by fliers, helicopter speakers, or FM and shortwave radio. </p>
<div class="map-title">Defections of Ugandan male combatants from the LRA | January 2012&ndash;March 2014</div>
<div class="map" id="combatant_defections_map"></div>
<div id='combatant_defections_map_legend' class="legend-content" style='display: none;'>
  <div class='legend'>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #4B4B4B"></span>
      <span class="legend-item-text">Ugandan LRA combatant defection, 2012</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #2563A6"></span>
      <span class="legend-item-text">Ugandan LRA combatant defection, 2013</span>
    </div>
    <div class='legend-item'>
      <span class="legend-item-marker" style="background-color: #802315"></span>
      <span class="legend-item-text">Ugandan LRA combatant defection, 2014</span>
    </div>
  </div>
</div>

<p class="graph-label">Note: Each circle represents one defection incident. The size of each circle is proportionate to the number of Ugandan LRA combatants who defected during that incident.</p>


<a name="section_6" class="page-anchor"></a>
<h3 class="page-title" id="section_6_title">VI. Background</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>This section contains more information about the LRA Crisis Tracker, including the methodology used to verify reports of LRA activity. It also includes information about The Resolve LRA Crisis Initiative and Invisible Children.</i></span></p>
<!-- ABOUT -->
{% include en-about/about.html %}

<!-- METHODOLOGY -->
{% include en-about/methodology.html %}

<!-- CONTRIBUTORS -->
{% include en-about/contributors.html %}

  <div class="footer-logos" style="margin-top: 70px">
     <div id="publication_of" class="footer-publication-of"></div>
     <a href="http://theresolve.org"><img src="/images/resolve-logo.png" class="resolve-logo"></a>
     <div class="footer-plus">+</div>
     <a href="http://invisiblechildren.com"><img src="/images/ic-logo.png" class="ic-logo"></a>
   </div>

<!--   <div class="btn-group" >
    <button type="button" class="btn btn-default dropdown-toggle selected_language" data-toggle="dropdown"><span class="caret"></span>
    </button>
    <ul class="dropdown-menu lang-menu" role="menu">
      <li class="english"><a href="" class="english_option"></a></li>
      <li class="french"><a href="" class="french_option"></a></li>
    </ul>
  </div> -->
