---
layout: en-midyear-2014
published: true
categories: midyear-2014
lang: en
---

<div>
 <a class="btn btn-primary btn-download download" href="/pdf/2014-Q1-LRA-Crisis-Tracker-Quarterly-Security-Brief.pdf" style="float: right; margin-top: 4px">Download PDF</a>
</div>

<div class="super-page-title">LRA Crisis Tracker: Mid-Year 2014 Security Brief</div>
<hr>
<!--
EXECUTIVE SUMMARY
##################################################
##################################################
-->
<h3 class="page-title-top edge-top" id="executive_summary_title" >Executive Summary: LRA violence stabilizes over the past two years</h3>

<p>The Lord's Resistance Army committed XX attacks and abducted XX people from April&ndash;June 2014 (Quarter 2 2014), a X% rise in attacks and X% rise in abductions from Quarter 1 2014. The group committed more attacks and abductions in the first six months of 2014 than it did in the first six months of 2013, reversing a four-year downward trend in LRA violence. Though levels of LRA violence in 2014 remain far below their 2009-2011 peak, they do indicate a stabilization in attacks and abductions over the past two years.</p>

<p>Despite these overall trends, levels of LRA violence vary widely at the smaller scales. LRA violence west of Garamba National Park in northeastern Democratic Republic of Congo (Congo) <a href="#section_1">surged in the first half of 2014</a>, far surpassing the numbers of attacks and abductions there violence in 2013. <a href="#section_2">Attacks by unidentified armed groups</a> also surged in northeastern Congo. However, few attacks by unidentified armed groups or the LRA were recorded in communities south and east of Garamba. In the Central African Republic (CAR), LRA attacks <a href="#section_1">spiked near the towns of Nzako and Bakouma</a> in Quarter 2 after months of no reported violence, while further east near the towns of Obo and Mboki LRA attacks dropped significantly compared to Quarter 1 2014.</p>

<div id="MY2014_ES" class="visual" style="height: 350px; margin-top: 0px;"></div>
<p class="graph-label">LRA attacks and abductions by quarter, 2010&ndash;2014</p>

<!--
SECTION 1
##################################################
##################################################
-->
<a name="section_1" class="page-anchor"></a>
<h3 class="page-title" id="section_1_title" >I. Congo: LRA attacks rise sharply in 2014</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>LRA violence continued to surge in Congo’s northeastern Haut Uele district, particularly west of Garamba National Park. The LRA abducted 153 Congolese civilians in the first half of 2014, more than doubling the number abducted in the first half of 2013 (72) and reversing a four-year decline in LRA abductions in Congo.</i></span></p>     

<p>Halfway through 2014, the LRA’s patterns of movement continue to evolve. In the first three months of 2014, LRA attacks in Congo were concentrated in the Niangara-Bangadi-Ngilima triangle, west of Garamba National Park. Since April, LRA attacks have shifted further west and north, towards the vicinity of Doruma and Masombo, near the border with South Sudan. Between June 7th and July 7th, the LRA committed 11 attacks in this area, including large scale lootings of civilians traveling to and from the busy Nabiapay border market. Merchants and market-goers laden with goods and currency present easy targets for small, highly mobile bands of LRA forces that roam this sparsely inhabited area.</p>

<p>Overall, the LRA committed 44 attacks in Congo's Haut Uele and Bas Uele districts in Quarter 2 2014, up 13% from the 39 attacks in Quarter 1. LRA abductions in Congo rose 43%, from 63 in Quarter 1 to 90 in Quarter 2. The majority of these abductions lasted fewer than 30 days, as many abductees were forced to carry looted goods before being released after a few hours or days. This trend, as well as a continued decline in the number of LRA killings in Congo, is consistent with a reduction in child abductions and large massacres in recent years as the group has attempted to deflect international attention from the crisis.</p>  

<p>The overall increase in LRA activity in Haut Uele district masks the remarkable decline in attacks south and east of Garamba National Park, once an LRA stronghold in Haut Uele. Several alleged LRA attacks were reported in this area in the first six months of 2014, but none met standards necessary to be recorded as an LRA attack by the Crisis Tracker.</p>

<table class="table table-hover">
  <thead>
        <tr>
          <th>Date</th>
          <th>LRA Attacks</th>
          <th>% Change</th>
          <th>LRA Abductions</th>
          <th>% Change</th>
          <th>LRA Killings</th>
          <th>% Change</th>      
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>MY 2010</td>
          <td>195</td>
          <td>X</td>
          <td>318</td>
          <td>X</td>
          <td>367</td>
          <td>X</td>
        </tr>
        <tr>
          <td>MY 2011</td>
          <td>134</td>
          <td>-31.28%</td>
          <td>226</td>
          <td>-28.93%</td>
          <td>79</td>
          <td>-78.47%</td>
        </tr>
        <tr>
          <td>MY 2012</td>
          <td>140</td>
          <td>4.48%</td>
          <td>189</td>
          <td>-16.37%</td>
          <td>11</td>
          <td>-86.08%</td>
        </tr>
        <tr>
                  
          <td>MY 2013</td>
          <td>57</td>
          <td>-59.29%</td>
          <td>62</td>
          <td>-67.20%</td>
          <td>4</td>
          <td>-63.64%</td>
        </tr>
        <tr>

          <td>MY 2014</td>
          <td>64</td>
          <td>12.28%</td>
          <td>105</td>
          <td>69.35%</td>
          <td>1</td>
          <td>-75.00%</td>
        </tr>
        <tr>
        </tr>




      </tbody>
</table>




<!--
SECTION 2
##################################################
##################################################
-->
<a name="section_2" class="page-anchor"></a>
<h3 class="page-title" id="section_2_title" >II. Congo: Unidentified armed groups</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>The increase in LRA activity in Haut Uele district in 2014 has been accompanied by a 55% increase in the number of attacks committed by unidentified armed groups, from 27 attacks in the first half of 2013 to 42 attacks in the first half of 2014.</i></span></p>
<p><b>Note on Methodology:</b> In June 2014, the LRA Crisis Tracker team did an extensive review of its dataset on non-state armed group attacks on civilians in LRA-affected areas. The perpetrator of each attacked is now categorized as either the “LRA,” an “unidentified armed group,” or an “other armed group.” “Unidentified armed group” is used for attacks for which sources do not provide enough details to accurately identify the perpetrator. The assailants in these attacks could be security forces, poachers, Mbororos, LRA, or any other armed groups. “Other armed group” is used for attacks for which there are enough details to definitively identify the perpetrator as an armed actor other than the LRA. Incidents  of abuses against civilians by state security forces are recorded separately and not included in these three categories.</p>


<div id="MY2014_Congo_2" class="visual" style="height: 300px; margin-top: 0px;"></div>
<p class="graph-label">Violence against civilians in LRA-affected areas of Haut Uele district, 2012&ndash;2014</p>

<p>As LRA attacks in Congo have become less violent in recent years, it has become more difficult to distinguish attacks by the LRA from attacks by bandits and other armed actors, resulting in a reduced inclination to identify assailants as being LRA. Consequently, the rise in attacks by unidentified armed groups in Haut Uele could indicate increased predation on civilians by the LRA, bandits, or other armed groups. In contrast, the number of attacks in Haut-Uele committed by identified other armed groups that are not LRA has remained extremely low in recent years, with reportedly 3 attacks between January 2012 and June 2014.  </p>

<p>Regardless of the difficulty in identifying perpetrators, reporting trends clearly indicate both a rise in LRA and overall armed group violence against civilians in Haut Uele, with the number of attacks in the first half of 2014 the highest since early 2012. LRA forces are still responsible for over half of all reported non-state armed group attacks in Haut-Uele in 2014, and possibly more depending on how many incidents categorized as unidentified armed group attacks were actually committed by the LRA.This overwhelming impact demonstrates the continued threat that LRA rebels pose Congolese communities, both as direct perpetrators of attacks and as contributors to an atmosphere of lawlessness that encourages other armed groups to attack civilians with impunity.</p>

<p>Recent reports indicate that local security forces in Haut Uele have done little to mitigate the intensification of armed group violence in Haut Uele. Many Congolese civilians feel that Congolese military (FARDC) and UN peacekeeping forces (MONUSCO) frequently fail to take advantage of actionable intelligence to pursue armed groups and are able to deter attacks on only a handful of major towns. FARDC troops have also been implicated in  abuses against civilians in Haut Uele in 2014, including rape, extortion, and torture.</p>

<!--
SECTION 3
##################################################
##################################################
-->
<a name="section_3" class="page-anchor"></a>
<h3 class="page-title" id="section_3_title">III. CAR: Nzako-Bakouma area remains hotbed of LRA activity</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>The Nzako-Bakouma area has been a hotspot of LRA activity in the past year, with a series of Ugandan combatants defecting there and the LRA conducting several large-scale attacks. Ugandan military troops have attacked with LRA forces several times there, and have also clashed with Seleka forces, whom they accuse of providing support to the LRA.</i></span></p>

<p>In early 2010, the LRA committed its first attacks near the towns of Nzako and Bakouma in the CAR's Mbomou prefecture, a gold- and uranium-mining area just west of the vast Chinko River basin forest. The group committed infrequent but often large-scale attacks there in 2011 and 2012, taking advantage of lack of Central African military (FACA) or Ugandan military presence in the area.</p>

<p>LRA activity shifted in mid-2013, with the group halting attacks on civilians and instead making contact with Seleka representatives and civilians in remote mining sites. Seleka forces facilitated the transfer of medical and food supplies to LRA groups there after they claimed to be interested in a mass defection. Though no large groups ever surrendered, seven Ugandan LRA fighters defected near Nzako in the first half of 2014. In April 2014, LRA forces resumed attacks on civilians in the area, likely to resupply basic goods and possibly to retaliate against communities allowing communities to defect. 

<p>As LRA activity in the Nzako-Bakouma area has intensified, Ugandan troops have steadily built up their presence there and in the neighboring Chinko River basin, attacking LRA groups several times. The Ugandan military's presence has brought them into close proximity to Seleka forces, with tension over Seleka's continued support to the LRA bubbling over into a clash between the two forces in July 2014.</p>

<div id="lra_survival_map_title" class="map-title">LRA-related activity near Nzako and Bakouma, CAR</div>
<div id="lra_survival_map_title" class="map-title"></div>
<div class="map">
  <img src="/images/midyear-2014-map.png" width="100%">
</div>

<div class="row">
  <div class="map-legend">
    <div class="col-md-6 ">

      <div class="col-md-2"><div class="map-legend-marker">Red</div></div>
      <div id="lra_survival_map_1" class="col-md-10">Ugandan military forces have clashed with LRA groups several times near Nzako and the Chinko River Basin to the east, most notably killing LRA commander Sam Kangul and four other fighters in November 2013.</div>

      <div class="col-md-2"><div class="map-legend-marker">Orange</div></div>
      <div id="lra_survival_map_2" class="col-md-10">LRA forces have attacked civilians on at least seven occasions in 2014, including several raids on mining sites, abducting over 100 people.</div>

      <div  class="col-md-2"><div class="map-legend-marker">Blue</div></div>
      <div id="lra_survival_map_3" class="col-md-10">Seven Ugandan LRA fighters defected near Nzako in the first six months of 2014, while Ugandan forces captured another in April.</div>

      <div class="col-md-2"><div class="map-legend-marker">Green</div></div>
      <div id="lra_survival_map_4" class="col-md-10">In November 2013, Seleka leader Michel Djotodia claimed Joseph Kony was near Nzako and was willing to surrender and facilitated the transfer of supplies to the LRA. Defectors in early 2014 reported that LRA rebels and Seleka representatives periodically maintain contact and trade supplies.</div>

      <div class="col-md-2"><div class="map-legend-marker">Yellow</div></div>
      <div id="lra_survival_map_5" class="col-md-10">Ugandan troops clashed with Seleka forces for the first time near Nzako on July 1, 2014.</div>

    </div>

    <div class="col-md-6">


    </div>
  </div>
</div>


<p></p>

<p></p>

<!--
SECTION 5
##################################################
##################################################
-->
<a name="section_5" class="page-anchor"></a>
<h3 class="page-title" id="section_5_title">V. Background</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>This section contains more information about the LRA Crisis Tracker, including the methodology used to verify reports of LRA activity. It also includes information about The Resolve LRA Crisis Initiative and Invisible Children.</i></span></p>
<!-- ABOUT -->
{% include en-about/about.html %}

<!-- METHODOLOGY -->
{% include en-about/methodology.html %}

<!-- CONTRIBUTORS -->
{% include en-about/contributors.html %}

  <div class="footer-logos" style="margin-top: 70px">
     <div id="publication_of" class="footer-publication-of"></div>
     <a href="http://theresolve.org"><img src="/images/resolve-logo.png" class="resolve-logo"></a>
     <div class="footer-plus">+</div>
     <a href="http://invisiblechildren.com"><img src="/images/ic-logo.png" class="ic-logo"></a>
   </div>

  <div class="btn-group" >
    <button type="button" class="btn btn-default dropdown-toggle selected_language" data-toggle="dropdown"><span class="caret"></span> Language: English
    </button>
    <ul class="dropdown-menu lang-menu" role="menu">
      <li class="english"><a href="" class="english_option">&#x2713; English</a></li>
      <li class="french"><a href="" class="french_option">French</a></li>
    </ul>
  </div>
