---
layout: en-midyear-2014
published: true
categories: midyear-2014
lang: en
---

<div>
 <a class="btn btn-primary btn-download download" href="/pdf/2014-Q1-LRA-Crisis-Tracker-Quarterly-Security-Brief.pdf" style="float: right; margin-top: 4px">Download PDF</a>
</div>

<div class="super-page-title">LRA Crisis Tracker: Mid-Year 2014 Security Brief</div>
<hr>
<!--
EXECUTIVE SUMMARY
##################################################
##################################################
-->
<h3 class="page-title-top edge-top" id="executive_summary_title" >Executive Summary: LRA violence stabilizes over the past two years</h3>

<p>The <a href="#section_2">targeted </a> largely  <a href="#section_1">committed</a> a</p>

<div id="Q12014_ES" class="visual" style="height: 350px; margin-top: 0px;"></div>
<p class="graph-label">LRA attacks by quarter, 2010&ndash;2014</p>

<!--
SECTION 1
##################################################
##################################################
-->
<a name="section_1" class="page-anchor"></a>
<h3 class="page-title" id="section_1_title" >I. Congo: LRA attacks rise sharply in 2014</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>INSERT 1-2 SENTENCE SUMMARY OF THIS SECTION HERE</i></span></p>
<p>FIRST FULL PARAGRAPH OF THIS SECTION GOES HERE.</p>

<p>SECOND FULL PARAGRAPH OF THIS SECTION GOES HERE.</p>

<div id="Q12014_F" class="visual" style="height: 300px; margin-top: 0px;"></div>


<!--
SECTION 2
##################################################
##################################################
-->
<a name="section_2" class="page-anchor"></a>
<h3 class="page-title" id="section_2_title" >II. Congo: Attacks by unidentified armed groups</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i></i></span></p>

<p>FIRST FULL PARAGRAPH OF THIS SECTION GOES HERE.</p>

<p>SECOND FULL PARAGRAPH OF THIS SECTION GOES HERE.</p>

<!--
SECTION 3
##################################################
##################################################
-->
<a name="section_3" class="page-anchor"></a>
<h3 class="page-title" id="section_3_title">III. CAR: Nzako area remains hotbed of LRA activity</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i></i></span></p>

<p></p>

<p></p>


<!--
SECTION 4
##################################################
##################################################
-->
<a name="section_4" class="page-anchor"></a>
<h3 class="page-title" id="section_4_title" name="resupplying_kony">IV. 11 Ugandan combatants return from the LRA</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>j</i></span></p>

<p></p>

<p></p>

<p></p>

<!--
SECTION 5
##################################################
##################################################
-->
<a name="section_5" class="page-anchor"></a>
<h3 class="page-title" id="section_5_title">V. Tracking Joseph Kony</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>ff</i></span></p>

<p></p>

<p></p>

<p></p>


<a name="section_6" class="page-anchor"></a>
<h3 class="page-title" id="section_6_title">VI. Background</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>This section contains more information about the LRA Crisis Tracker, including the methodology used to verify reports of LRA activity. It also includes information about The Resolve LRA Crisis Initiative and Invisible Children.</i></span></p>
<!-- ABOUT -->
{% include en-about/about.html %}

<!-- METHODOLOGY -->
{% include en-about/methodology.html %}

<!-- CONTRIBUTORS -->
{% include en-about/contributors.html %}

  <div class="footer-logos" style="margin-top: 70px">
     <div id="publication_of" class="footer-publication-of"></div>
     <a href="http://theresolve.org"><img src="/images/resolve-logo.png" class="resolve-logo"></a>
     <div class="footer-plus">+</div>
     <a href="http://invisiblechildren.com"><img src="/images/ic-logo.png" class="ic-logo"></a>
   </div>

  <div class="btn-group" >
    <button type="button" class="btn btn-default dropdown-toggle selected_language" data-toggle="dropdown"><span class="caret"></span> Language: English
    </button>
    <ul class="dropdown-menu lang-menu" role="menu">
      <li class="english"><a href="" class="english_option">&#x2713; English</a></li>
      <li class="french"><a href="" class="french_option">French</a></li>
    </ul>
  </div>
