---
layout: en-midyear-2014
published: true
categories: midyear-2014
lang: en
---

<div>
 <a class="btn btn-primary btn-download download" href="/pdf/2014-Midyear-LRA-Crisis-Tracker-Quarterly-Security-Brief.pdf" style="float: right; margin-top: 4px">Download PDF</a>
</div>

<div class="super-page-title">LRA Crisis Tracker: Mid-Year 2014 Security Brief</div>
<hr>
<!--
EXECUTIVE SUMMARY
##################################################
##################################################
-->
<h3 class="page-title-top edge-top" id="executive_summary_title" >Executive Summary: LRA reverses downward trend in abductions</h3>

<p>The Lord's Resistance Army (LRA) committed 59 attacks and abducted 185 people from April&ndash;June 2014 (Quarter 2 2014), a 2% drop in attacks and 28% rise in abductions from Quarter 1 2014. Overall, the group committed more attacks and abductions in the first six months of 2014 than it did in the first six months of 2013, reversing a three-year downward trend in LRA violence. Though levels of LRA violence remain far below their 2009&ndash;2011 peak, the total number of attacks and abductions across the Democratic Republic of Congo (Congo) and the Central African Republic (CAR) has stabilized over the past two years. </p>

<div class="row">
  <div class="col-md-4">
  <p>At more localized scales, trends in LRA violence vary widely. LRA violence west of Garamba National Park in northeastern Congo <a href="#section_1">surged in the first half of 2014</a> and the group has already surpassed the numbers of attacks and abductions it committed there in all of 2013. However, no LRA attacks were recorded in communities south and east of the park that were once frequent targets of LRA raids.<p/>

<p>In CAR, LRA attacks <a href="#section_3">spiked near the towns of Nzako and Bakouma</a> in Quarter 2 2014 after nearly a year of no reported LRA violence there. Further east, near the towns of Obo and Mboki, LRA attacks dropped significantly compared to Quarter 1 2014.</p>
</div>

<div class="col-md-8">
<div id="MY2014_ES" class="visual" style="height: 350px; margin-top: 0px;"></div>
<p class="graph-label">LRA attacks and abductions, 2009&ndash;2014</p>
</div>
</div>


<!--
SECTION 1
##################################################
##################################################
-->
<a name="section_1" class="page-anchor"></a>
<h3 class="page-title" id="section_1_title" >I. Congo: LRA attacks rise sharply in 2014</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>LRA violence continued to surge in Congo’s northeastern Haut Uele district, particularly west of Garamba National Park. The LRA abducted 154 Congolese civilians in the first half of 2014, more than doubling the number abducted in the first half of 2013 (72).</i></span></p>     

<p>In the first three months of 2014, LRA attacks in Congo were concentrated in the Niangara-Bangadi-Ngilima triangle, west of Garamba National Park. Since April, LRA attacks have shifted further west and north, towards the vicinity of Doruma and Masombo, near the border with South Sudan. From June 7&ndash;July 7, the LRA committed 11 attacks in this area, including large scale lootings of civilians traveling to and from the busy Nabiapay border market. Merchants and market-goers laden with goods and currency present easy targets for small, highly mobile bands of LRA forces that roam this sparsely inhabited area.</p>

<p>Overall, the LRA committed 46 attacks in Congo's Haut Uele and Bas Uele districts in Quarter 2 2014, up 18% from the 39 attacks in Quarter 1. LRA abductions in Congo rose 44%, from 63 in Quarter 1 to 91 in Quarter 2. The majority of these abductions lasted only a few hours or days, indicating the LRA is using most abductees only to transport looted goods and is not seeking to train new fighters. This trend, as well as a continued decline in the number of LRA killings in Congo, is consistent with a reduction in child abductions and large massacres in recent years as the group has attempted to deflect international attention from the crisis.</p> 

<p>The overall increase in LRA activity in Haut Uele district masks the remarkable decline in attacks south and east of Garamba National Park, once an LRA stronghold. Several alleged LRA attacks were reported in this area in the first six months of 2014, but none met standards necessary to be recorded as an LRA attack by the Crisis Tracker.</p>

<div id="lra_survival_map_title" class="map-title">Congo: Shift in LRA attacks in Haut Uele | January 2014&ndash;June 2014</div>
<p><i>Click and drag the circle in the center of the map to see how LRA attacks in Haut Uele district shifted northwest between January 2014 and June 2014</i></p>
<div id="twentytwentycontainer">
  <img src="/images/midyear-compare-1.png" />
  <img src="/images/midyear-compare-2.png" />
</div>

<!--
SECTION 2
##################################################
##################################################
-->
<a name="section_2" class="page-anchor"></a>
<h3 class="page-title" id="section_2_title" >II. Congo: Uptick in violence by unidentified armed groups</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>The increase in LRA activity in Haut Uele district in 2014 has been accompanied by a 55% increase in the number of attacks committed by unidentified armed groups, from 27 attacks in the first half of 2013 to 42 attacks in the first half of 2014.</i></span></p>
<p><b>Note on Methodology:</b> In June 2014, the LRA Crisis Tracker team did an extensive review of its dataset on armed group attacks on civilians in LRA-affected areas. The perpetrator of each attack is now categorized as either the “LRA,” an “unidentified armed group,” or an “other armed group.” “Unidentified armed group” is used for attacks for which sources do not provide enough details to accurately identify the perpetrator. The assailants in these attacks could be rogue security forces, poachers, Mbororos, LRA, or a different armed group. “Other armed group” is used for attacks for which there are enough details to definitively identify the perpetrator as an armed actor other than the LRA. Incidents  of abuses against civilians in which state security forces are clearly identified as the perpetrator are recorded separately and not included in these three categories.</p>


<div id="MY2014_Congo_2" class="visual" style="height: 300px; margin-top: 0px;"></div>
<p class="graph-label">Attacks against civilians in LRA-affected areas of Haut Uele district, 2012&ndash;2014</p>

<p>As LRA attacks in Congo have become less violent in recent years, it has become more difficult to distinguish attacks by the LRA from attacks by bandits, rogue security forces, and poachers. Consequently, the rise in attacks by unidentified armed groups in Haut Uele could indicate increased predation on civilians by any of these actors, including the LRA. In contrast, the number of attacks in Haut Uele committed by other armed groups - clearly identified as an actor other than the LRA - has remained extremely low in recent years.</p>

<p>Despite the difficulty in identifying perpetrators, reporting trends clearly indicate both a rise in LRA and overall armed group violence against civilians in Haut Uele, with the total number of attacks in the first half of 2014 the highest since early 2012. LRA forces were responsible for nearly half of these attacks, and possibly more depending on how many incidents categorized as unidentified armed group attacks were actually committed by the LRA. This trend demonstrates the continued threat that LRA rebels pose to Congolese communities, both as perpetrators of violence and as contributors to an atmosphere of lawlessness that encourages other armed groups to attack civilians.</p>

<p>Recent reports indicate that local security forces in Haut Uele have done little to mitigate the intensification of armed group violence in Haut Uele. Many Congolese civilians feel that Congolese military (FARDC) and UN peacekeeping (MONUSCO) forces frequently fail to take advantage of actionable intelligence to pursue armed groups and are able to deter attacks on only a handful of major towns. FARDC troops have also been implicated in abuses against civilians in Haut Uele in 2014, including rape, extortion, and torture.</p>

<!--
SECTION 3
##################################################
##################################################
-->
<a name="section_3" class="page-anchor"></a>
<h3 class="page-title" id="section_3_title">III. CAR: Nzako&ndash;Bakouma area remains hotspot of LRA activity</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>LRA activity in the Nzako&ndash;Bakouma area of the CAR has surged in the past year, including the defection of LRA combatants, large-scale LRA attacks, and collaboration between LRA commanders and Seleka representatives. Ugandan military troops have pursued LRA forces in the Nzako&ndash;Bakouma area, attacking LRA groups several times and even clashing with Seleka forces.</i></span></p>

<p>In early 2010, the LRA committed its first attacks near the towns of Nzako and Bakouma in the CAR's Mbomou prefecture, an area known for gold and uranium mining just west of the vast, forested Chinko River Basin. The group committed bold and large-scale attacks there in 2011 and 2012, taking advantage of the lack of Central African military or Ugandan military presence in the area.</p>

<p>LRA activity shifted in mid-2013, with the group halting attacks on civilians and instead making contact with Seleka representatives and civilians in remote mining sites near Nzako. In late 2013, Seleka forces facilitated the transfer of medical and food supplies to LRA groups east of Nzako after they claimed to be interested in a mass defection. Though no large groups ever surrendered, seven Ugandan LRA fighters defected near Nzako in the first half of 2014. In April 2014, LRA forces resumed attacks on civilians in the area, likely to resupply basic goods and possibly to retaliate against communities helping LRA combatants to defect. 

<p>As LRA activity in the Nzako&ndash;Bakouma area has intensified, Ugandan troops have steadily built up their presence there and in the neighboring Chinko River Basin, attacking LRA groups several times. The Ugandan military's presence has brought them into close proximity to Seleka troops, with tension over Seleka's continued support to the LRA bubbling over into a clash between the two forces in late June 2014.</p>

<div id="lra_survival_map_title" class="map-title">CAR: LRA-related activity near Nzako and Bakouma | November 2013&ndash;June 2014</div>
<div class="map">
  <img src="/images/midyear-2014-map.png" width="100%">
</div>

<div class="row">
  <div class="map-legend">
    <div class="col-md-6 ">

      <div class="col-md-2"><div class="map-legend-circle-marker" style="background-color: #CA3F37"></div></div>
      <div id="lra_survival_map_1" class="col-md-10">Ugandan military forces have clashed with LRA groups several times near Nzako and the Chinko River Basin, most notably killing LRA commander Sam Kangul and at least four other fighters in November 2013.</div>

      <div class="col-md-2"><div class="map-legend-circle-marker" style="background-color: #001F3F"></div></div>
      <div id="lra_survival_map_2" class="col-md-10">LRA forces have attacked civilians near Nzako and Bakouma on at least seven occasions in 2014, abducting over 100 people. Several of these raids occurred at small-scale mining outposts.</div>

      <div  class="col-md-2"><div class="map-legend-circle-marker" style="background-color: #0074D9"></div></div>
      <div id="lra_survival_map_3" class="col-md-10">Seven Ugandan LRA fighters defected near Nzako in the first six months of 2014, while Ugandan forces captured another in April.</div>

    </div>

    <div class="col-md-6 ">

      <div class="col-md-2"><div class="map-legend-circle-marker" style="background-color: #3D9970"></div></div>
      <div id="lra_survival_map_4" class="col-md-10">In November 2013, Seleka leader Michel Djotodia claimed Joseph Kony was near Nzako and was willing to surrender. Working through Seleka commander General Damane, he facilitated the transfer of supplies to the LRA. Defectors in early 2014 reported that LRA rebels and Seleka representatives regularly maintain contact and trade for food and other supplies.</div>

      <div class="col-md-2"><div class="map-legend-circle-marker" style="background-color: #AAAAAA"></div></div>
      <div id="lra_survival_map_5" class="col-md-10">Ugandan troops clashed with Seleka forces for the first time near Nzako in late June 2014. A Ugandan military spokesman claimed 12 Seleka troops and one Ugandan soldier were killed during the clash.</div>

    </div>

    <div class="col-md-6">


    </div>
  </div>
</div>

<!--
SECTION 5
##################################################
##################################################
-->
<a name="section_5" class="page-anchor"></a>
<h3 class="page-title" id="section_5_title">IV. Background</h3>
<p><span id="summary" class="label label-primary label-tldr">SUMMARY</span>
<span><i>This section contains more information about the LRA Crisis Tracker, including the methodology used to verify reports of LRA activity. It also includes information about The Resolve LRA Crisis Initiative and Invisible Children.</i></span></p>
<!-- ABOUT -->
{% include en-about/about.html %}

<!-- METHODOLOGY -->
{% include en-about/methodology.html %}

<!-- CONTRIBUTORS -->
{% include en-about/contributors.html %}

  <div class="footer-logos" style="margin-top: 70px">
     <div id="publication_of" class="footer-publication-of"></div>
     <a href="http://theresolve.org"><img src="/images/resolve-logo.png" class="resolve-logo"></a>
     <div class="footer-plus">+</div>
     <a href="http://invisiblechildren.com"><img src="/images/ic-logo.png" class="ic-logo"></a>
   </div>

  <div class="btn-group" >
    <button type="button" class="btn btn-default dropdown-toggle selected_language" data-toggle="dropdown"><span class="caret"></span> Language: English
    </button>
    <ul class="dropdown-menu lang-menu" role="menu">
      <li class="english"><a href="" class="english_option">&#x2713; English</a></li>
      <li class="french"><a href="" class="french_option">French</a></li>
    </ul>
  </div>
