---
layout: main
published: true
---
<link href="/css-libraries/map.css" rel="stylesheet">

<body>
  <a name="executive_summary" class="page-anchor"></a>
  <script src="/js/annual-2014-visual.js"></script>

  <div class="container">
    <div class="banner-title-container">
      <div class="banner-title">
        The State of the LRA in 2015
      </div>
      <div class="banner-subtitle">
        8 key trends in LRA activity
      </div>
    </div>
    <div class="banner-logo-container">
      <a href="http://theresolve.org">
        <img src="/images/tracking-kony/resolve-logo.png" class="banner-resolve-logo">
      </a>

      <a href="http://lracrisistracker.com">
        <img src="/images/tracking-kony/crisis-tracker-logo.jpg" class="banner-ct-logo">
      </a>
      
      <a href="http://invisiblechildren.com">
        <img src="/images/tracking-kony/ic-logo.png" class="banner-ic-logo">
      </a>
    </div>
  </div>

  <div class="container cards-container">
    {{ content }}
  </div>

</body>