---
layout: main
published: true
---
<script src="/js/annual-2013-visual.js"></script>
<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="nav-container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/en/annual-2013/introduction"><img src="/images/annual-logo.png" class="annual-logo"></a>
      <ul class="nav navbar-nav">
        <li class="dropdown" id="introduction">
          <a href="/en/annual-2013/introduction">Executive Summary</b></a>
        </li>
        <li class="dropdown" id="lra-survival">
          <a href="/en/annual-2013/lra-survival">LRA Survival </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/en/annual-2013/lra-survival">I. LRA camps and resupply networks</a>
            </li>
            <li>
              <a href="/en/annual-2013/lra-survival#looting-analysis">II. LRA looting patterns</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" id="lra-force-capacity">
          <a href="/en/annual-2013/lra-force-capacity/">LRA Force Capacity </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/en/annual-2013/lra-force-capacity/">I. Reduction in LRA fighting capacity </a>
            </li>
            <li>
              <a href="/en/annual-2013/lra-force-capacity#lra-command-structure">II. LRA command structure</a>
            </li>
            <li>
              <a href="/en/annual-2013/lra-force-capacity#returnees">III. Return of long-term women and children captives</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" id="congo">
          <a href="/en/annual-2013/congo">Congo: Key Trends </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/en/annual-2013/congo">I. Steady decline of LRA violence in Congo</a>
            </li>
            <li>
              <a href="/en/annual-2013/congo#dangerous-livelihoods">II. Making a living in the LRA's shadow</a>
            </li>
            <li>
              <a href="/en/annual-2013/congo#lra-vs-uag">III. The LRA and other armed groups</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" id="car">
          <a href="/en/annual-2013/car">CAR: Key Trends</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/en/annual-2013/car">I. The LRA's steady expansion into CAR</a>
            </li>
            <li>
              <a href="/en/annual-2013/car#mass">II. Mass LRA attacks near ex-Seleka troops</a>
            </li>

            <li>
              <a href="/en/annual-2013/car#lra-hotspots">III. LRA hotspots in Haut Mbomou</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" id="background">
          <a href="/en/annual-2013/background">Background</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/en/annual-2013/background">2013 political context</a>
            </li>
            <li>
              <a href="/en/annual-2013/background#lra-background">LRA background</a>
            </li>
            <li>
              <a href="/en/annual-2013/background#about-ct">About the LRA Crisis Tracker</a>
            </li> 
            <li>
              <a href="/en/annual-2013/background#methodology">LRA Crisis Tracker Methodology</a>
            </li>
            <li>
              <a href="/en/annual-2013/background#contributors">Contributors</a>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="page-container">
      {{ content }}
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="btn-group btn-group-lang">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Language: English <span class="caret"></span>
        </button>
        <ul class="dropdown-menu lang-menu" role="menu">
          <li id="english"><a href="">&#x2713; English</a></li>
          <li id="french"><a href="">Fran&ccedil;ais</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      A publication of Resolve and Invisible Children
    </div>
    <div class="col-md-4">
      <div class="buttons">
        <button class="btn btn-primary">
          <a href="/pdf/2013-MY-LRA-Crisis-Tracker-Mid-Year-Security-Brief.pdf">Download Print Version</a>
        </button>
      </div>
    </div>
  </div>
</div>
 -->

