---
layout: main
published: true
---
<script src="/js/annual-2013-visual.js"></script>
<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="nav-container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="/images/annual-logo.png" class="annual-logo"></a>
      <ul class="nav navbar-nav">
        <li class="dropdown" id="introduction">
          <a href="/en/annual-2013/introduction">Executive Summary</b></a>
        </li>
        <li class="dropdown" id="lra-command-structure">
          <a href="/en/annual-2013/lra-survival">LRA Survival </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/en/annual-2013/lra-command-structure/">I. LRA command structure and group location</a>
            </li>
            <li>
              <a href="/en/annual-2013/lra-command-structure#lra-camps">II. LRA camps and resupply networks</a>
            </li>
            <li>
              <a href="/en/annual-2013/lra-command-structure#looting-analysis">III. Looting analysis</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" id="lra-force-capacity">
          <a href="/en/annual-2013/lra-force-capacity/">LRA Force Capacity </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/en/annual-2013/lra-force-capacity/">I. Reduction in LRA fighting capacity </a>
            </li>
            <li>
              <a href="/en/annual-2013/lra-force-capacity#returnees">II. Return of long-term women, children, and non-Ugandan men</a>
            </li>
            <li>
              <a href="/en/annual-2013/lra-force-capacity#come-home-messaging">III. Exposure to Come Home messages</a>
            </li>
            <li>
              <a href="/en/annual-2013/lra-force-capacity#porters-or-new-recruits">IV. LRA abductees: Porters or new recruits?</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" id="congo">
          <a href="/en/annual-2013/congo">Congo: Key Trends </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/en/annual-2013/congo">I. LRA looting</a>
            </li>
            <li>
              <a href="/en/annual-2013/congo#dangerous-livelihoods">II. Dangerous livelihoods: Hunting, fishing, and farming in the LRA's shadow</a>
            </li>
            <li>
              <a href="/en/annual-2013/congo#lra-vs-uag">III. LRA vs UAG attacks, 2013</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" id="car">
          <a href="/en/annual-2013/car">CAR: Key Trends</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/en/annual-2013/car">I. Mass LRA attacks in eastern CAR</a>
            </li>
            <li>
              <a href="/en/annual-2013/car#lra-hotspots">II. LRA hotspots in AU-controlled territory</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" id="about">
          <a href="/en/annual-2013/about">About </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/en/annual-2013/about">I. LRA Background</a>
            </li>
            <li>
              <a href="/en/annual-2013/about#notable-political-context">II. Notable Political Context</a>
            </li>
            <li>
              <a href="/en/annual-2013/about#about">III. About the LRA Crisis Tracker</a>
            </li> 
            <li>
              <a href="/en/annual-2013/about#methodology">IV. LRA Crisis Tracker Methodology</a>
            </li>
            <li>
              <a href="/en/annual-2013/about#contributors">V. Contributors</a>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="page-container">
      {{ content }}
    </div>
  </div>
</div>
