---
layout: main
published: true
---
<script src="/js/q3-2013-visual.js"></script>
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="{{ site.baseurl }}/"><img src="/images/logo.png" class="logo"></a>
        <a href="{{ site.baseurl }}/"><img src="/images/logo-text.png" class="logo-text"></a>

      </div>
    </div>
  </div>
</header>

<div class="container old-container">
  <div class="row">

    <!-- TABLE OF CONTENTS -->
    <div class="col-md-3 sidebar">
      <div role="complementary">
        {% include en-navigation/q3-2013.html %}
      </div>
    </div>

    <!-- PAGE -->
    <div class="col-md-9 page" role="main">
      {{ content }}
    </div>
  </div>
</div>
