---
layout: main
published: true
---
<!-- JS MAP LIBRARIES -->
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
<script src="/js-libraries/jquery.csv-0.71.min.js"></script>
<script src="/js-libraries/leaflet-heat.js"></script>
<script src="/js-libraries/leaflet.label.js"></script>
<script src="/js-libraries/leaflet.markercluster.js"></script>
<script src="/js-libraries/leaflet.zoomfs.js"></script>
<script src="/js-libraries/leaflet-omnivore.js"></script>
<script src="/js-libraries/map.js"></script>


<!-- CSS MAP LIBRARIES-->
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
<link href="/css-libraries/leaflet.label.css" rel="stylesheet">
<link href="/css-libraries/map.css" rel="stylesheet">

<!-- JS -->
<script src="/js/q1-2014-visual.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.twentytwenty.js"></script>
<script src="/js/jquery.event.move.js"></script>


<!-- CSS -->
<link href="/css/twentytwenty.css" rel="stylesheet">


<body>
  <a name="executive_summary" class="page-anchor"></a>
  <script src="/js/q1-2014-visual.js"></script>
  <script src="/js/q1-2014-text.js"></script>
  
  <div class="container">
    <div class="row">
      
      <div class="fixed-sidebar">
        <a class="fixed-navbar-brand" href="/en/q1-2014">
          <img src="/images/q1-2014-logo.png" class="fixed-logo">
        </a>
        <div class="fixed-sidebar-item" id="executive_summary_sidebar_title">
          <a href="#executive_summary">Executive Summary</a>
        </div>
        <div class="fixed-sidebar-item" id="section_1_sidebar_title">
          <a href="#section_1">I.Dramatic drop in LRA activity near GNP</a>
        </div>
        <div class="fixed-sidebar-item" id="section_2_sidebar_title">
          <a href="#section_2">II. LRA raids Niangara–Bangadi area with impunity</a>
        </div>
        <div class="fixed-sidebar-item" id="section_3_sidebar_title">
          <a href="#section_3">III. LRA targets Central African towns</a>
        </div>
        <div class="fixed-sidebar-item" id="section_4_sidebar_title">
          <a href="#section_4">IV. Exploiting the CAR from Sudan?</a>
        </div>
        <div class="fixed-sidebar-item" id="section_5_sidebar_title">
          <a href="#section_5">V. Ugandans defect in the CAR</a>
        </div>
      </div>

      <div class="right-container">
        {{ content }}
      </div>
      
    </div>
  </div>

  <div class="container" style="width: 850px; height: 100px; margin-top: 80px">
    <div class="row">
<!--       <div class="col-md-12" style="margin-left: 80px">
        <div class="footer-logos">
           <div id="publication_of" class="footer-publication-of"></div>
           <a href="http://theresolve.org"><img src="/images/resolve-logo.png" class="resolve-logo"></a>
           <div class="footer-plus">+</div>
           <a href="http://invisiblechildren.com"><img src="/images/ic-logo.png" class="ic-logo"></a>
         </div>

         <div>
          <a class="btn btn-primary btn-download download" href="/pdf/2013-A-LRA-Crisis-Tracker-Annual-Brief.pdf"></a>
        </div>

        <div class="btn-group" >
          <button type="button" class="btn btn-default dropdown-toggle selected_language" data-toggle="dropdown"><span class="caret"></span>
          </button>
          <ul class="dropdown-menu lang-menu" role="menu">
            <li class="english"><a href="" class="english_option"></a></li>
            <li class="french"><a href="" class="french_option"></a></li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>
</body>
