---
layout: main
published: true
---
<body>
  <script src="/js/annual-2013-visual.js"></script>
  <script src="/js/annual-2013-text.js"></script>
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="nav-container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/fr/annual-2013"><img src="/images/annual-logo.png" class="annual-logo"></a>
        <ul class="nav navbar-nav">
          <li class="dropdown" id="introduction">
            <a href="/fr/annual-2013/" id="executive_summary_navbar_title"></b></a>
          </li>
          <li class="dropdown" id="lra-survival">
            <a href="/fr/annual-2013/lra-survival" id="lra_survival_navbar_title"></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/fr/annual-2013/lra-survival" class="lra_survival_subtitle_1"></a>
              </li>
              <li>
                <a href="/fr/annual-2013/lra-survival#looting-analysis" class="lra_survival_subtitle_2"></a>
              </li>
            </ul>
          </li>
          <li class="dropdown" id="lra-force-capacity">
            <a href="/fr/annual-2013/lra-force-capacity/" id="force_capacity_navbar_title"></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/fr/annual-2013/lra-force-capacity/" class="force_capacity_subtitle_1"></a>
              </li>
              <li>
                <a href="/fr/annual-2013/lra-force-capacity#lra-command-structure" class="force_capacity_subtitle_2"></a>
              </li>
              <li>
                <a href="/fr/annual-2013/lra-force-capacity#returnees" class="force_capacity_subtitle_3"></a>
              </li>
            </ul>
          </li>
          <li class="dropdown" id="congo">
            <a href="/fr/annual-2013/congo" id="congo_navbar_title"> </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/fr/annual-2013/congo" class="congo_subtitle_1"></a>
              </li>
              <li>
                <a href="/fr/annual-2013/congo#dangerous-livelihoods" class="congo_subtitle_2"></a>
              </li>
              <li>
                <a href="/fr/annual-2013/congo#lra-vs-uag" class="congo_subtitle_3"></a>
              </li>
            </ul>
          </li>
          <li class="dropdown" id="car">
            <a href="/fr/annual-2013/car" id="car_navbar_title"></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/fr/annual-2013/car" class="car_subtitle_1"></a>
              </li>
              <li>
                <a href="/fr/annual-2013/car#mass" class="car_subtitle_2"></a>
              </li>

              <li>
                <a href="/fr/annual-2013/car#lra-hotspots" class="car_subtitle_3"></a>
              </li>
            </ul>
          </li>

          <li class="dropdown" id="background">
            <a href="/fr/annual-2013/background" id="background_navbar_title"></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/fr/annual-2013/background" class="background_title_1"></a>
              </li>
              <li>
                <a href="/fr/annual-2013/background#lra-background" class="background_title_2"></a>
              </li>
              <li>
                <a href="/fr/annual-2013/background#about-ct" class="background_title_3"></a>
              </li> 
              <li>
                <a href="/fr/annual-2013/background#methodology" class="background_title_4"></a>
              </li>
              <li>
                <a href="/fr/annual-2013/background#contributors" class="background_title_5"></a>
              </li>

            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="page-container">
        {{ content }}
      </div>
    </div>
  </div>

  <div class="container" style="width: 850px; height: 300px; margin-top: 80px">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-logos">
           <div id="publication_of" class="footer-publication-of"></div>
           <a href="http://theresolve.org"><img src="/images/resolve-logo.png" class="resolve-logo"></a>
           <div class="footer-plus">+</div>
           <a href="http://invisiblechildren.com"><img src="/images/ic-logo.png" class="ic-logo"></a>
         </div>

         <div>
          <a class="btn btn-primary btn-download download" href="/pdf/2013-A-FR-LRA-Crisis-Tracker-Annual-Brief.pdf"></a>
        </div>

        <div class="btn-group" >
          <button type="button" class="btn btn-default dropdown-toggle selected_language" data-toggle="dropdown"><span class="caret"></span>
          </button>
          <ul class="dropdown-menu lang-menu" role="menu">
            <li class="english"><a href="" class="english_option"></a></li>
            <li class="french"><a href="" class="french_option"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

