<html>
  <head>
    <link href="/reports/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="http://ktransier.github.io/reports/css/main.css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/reports/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="header-container">
      </div>
    </div>

      {{ content }}
  </body>
</html>
