<html>
  <head>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="{{ site.baseurl }}/js/visual.js"></script>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>LRA Crisis Tracker | Security Briefs</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="navbar-header">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/logo.jpg"></a>
            </div>
            <div class="col-md-9">
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    {{ content }}
    
    <!-- FOOTER -->
    <div class="footer">
      <a href="http://lracrisistracker.com"></a>
      <a href="http://lracrisistracker.com"></a>
      <a href="http://lracrisistracker.com"></a>
    </div>
  </body>
</html>
