---
layout: main
published: true
---

<div class="container">
  <div class="row">

    <!-- TABLE OF CONTENTS -->
    <div class="col-md-3 sidebar">
      <div role="complementary">

        <ul class="nav bs-sidenav"> 
          <li class="sidebar-title">
            <span class="report-title">Mid-Year Security Brief</span>
            <span class="report-date">January&ndash;June 2013</span>
          </li> 
          <li class="sidebar-subtitle">
             Section I: Introduction
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/executive-summary/">Executive Summary</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/notable-political-context/">Notable Political Context</a>
          </li>
          <li class="sidebar-subtitle">
          Section II: The LRA's Exploitation of the Security Vacuum in CAR
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/armed-groups-in-car/">Armed Groups Operating in Eastern CAR</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/outside-of-updf-control/">Most Violent LRA Attacks Concentrated in Areas Outside of UPDF Control</a>
          </li>
          <li class="sidebar-subtitle">
            Section III: The LRA's Struggle to Survive in Congo
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/comm-with-populations/">LRA Members Communicating with Local Populations</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/decline/">Decline in Massacres and Mass Abductions</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/attacks-by-lra-vs-other-armed-groups/">Attacks by LRA vs Other Armed Groups</a>
          </li>
          <li class="sidebar-subtitle">
            Section IV: About
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/methodology/">LRA Crisis Tracker Methodology</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/about/">About the LRA Crisis Tracker</a>
          </li>
        </ul>
        <button class="btn btn-primary">
          <a href="{{site.baseurl}}/print-version.pdf">Download Print Version</a>
        </button>
      </div>
    </div>

    <!-- PAGE -->
    <div class="col-md-9 page" role="main">
      {{ content }}
    </div>
  </div>
</div>
