---
layout: main
published: true
---

<div class="container">
  <div class="row">

    <!-- TABLE OF CONTENTS -->
    <div class="col-md-3 sidebar">
      <div role="complementary">

        <ul class="nav bs-sidenav"> 
          <li class="sidebar-title">
            January-June 2013 <br />Mid-Year Security Brief
          </li> 
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/executive-summary/">Executive Summary</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/notable-political-context/">Notable Political Context</a>
          </li>
          <li class="sidebar-subtitle">
          Section I: The LRA's Exploitation of the Security Vacuum in CAR
          <li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/major-car-attacks/">Map: Major LRA Attacks in Eastern CAR, January 2010 - June 2013</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/armed-groups-in-car/">Armed Groups Operating in Eastern CAR</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/lra-activity-differs/">LRA Activity in Areas Differ</a>
          </li>
          <li class="sidebar-subtitle">
          Section II: The LRA's Struggle to Survive in Congo
          <li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/decline/">Decline in Massacres and Mass Abductions</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/comm-with-populations/">LRA Members Communicating with Local Populations</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/attacks-by-lra-vs-other-armed-groups/">Attacks by LRA vs Other Armed Groups</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/methodology/">LRA Crisis Tracker Methodology</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/midyear-2013/about/">About the LRA Crisis Tracker</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- PAGE -->
    <div class="col-md-9 page" role="main">
      {{ content }}
    </div>
  </div>
</div>
